{config_load file="$language/lang_$language.conf" section="articles"} 
 {config_load file="$language/dom.conf" section="main"}
 <section class="articles">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <h2 class="title">{#con11#}</h2>
            </div>
            {foreach name=aussen item=module_data from=$module_content} 
            <div class="block-articles">
              <div class="col-xs-12 col-sm-2 col-md-2"><span class="date">{$module_data.ARTICLE_DATE}</span></div>
              <div class="col-xs-12 col-sm-10 col-md-10"><a href="{$module_data.ARTICLE_LINK}" class="link-article">{$module_data.ARTICLE_NAME}</a><a href="{$module_data.ARTICLE_LINK}"><img src="/images/articles/{$module_data.ARTICLE_IMAGE}" class="img-article resp"></a></div>
            </div>
            {/foreach}
          </div>
        </div>
      </section>