{config_load file="$language/lang_$language.conf" section="create_account"}
{if $smarty.const.DADATA_API_KEY != "" and $smarty.session.language == "russian"}
<!--[if lt IE 10]>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://dadata.ru/static/js/lib/jquery.suggestions-15.7.min.js"></script>
<script type="text/javascript">
{literal}
$(function () {

var token = {/literal}"{$smarty.const.DADATA_API_KEY}"{literal};

$("#firstname").suggestions({
  serviceUrl: "https://dadata.ru/api/v2",
  token: token,
  type: "NAME",
  params: {
    parts: ["NAME"]
  }
});

$("#lastname").suggestions({
  serviceUrl: "https://dadata.ru/api/v2",
  token: token,
  type: "NAME",
  params: {
    parts: ["SURNAME"]
  }
});

$("#email_address").suggestions({
  serviceUrl: "https://dadata.ru/api/v2",
  token: token,
  type: "EMAIL",
  params: {
    parts: ["SURNAME"]
  }
});
      
$("#street_address").suggestions({
  serviceUrl: "https://dadata.ru/api/v2",
  token: token,
  type: "ADDRESS",
  geoLocation: true,
  onSelect: showSelected
});

function join(arr /*, separator */) {
  var separator = arguments.length > 1 ? arguments[1] : " ";
  return arr.filter(function(n){return n}).join(separator);
}

function showSelected(suggestion) {
  var address = suggestion.data;
  $("#postcode").val(address.postal_code);
  if (address.region == "Москва" || address.region == "Санкт-Петербург") {
  $("#state").val(address.region);
  } else {
  $("#state").val(join([
    join([address.region, address.region_type_full], " ")
    //join([address.region, address.region_type], " "),
    //join([address.area_type, address.area], " ")
  ]));
  }
  $("#city").val(join([
    join([address.city_type, address.city], " "),
    join([address.settlement_type, address.settlement], " ")
  ]));
  //$("#street_address").val(
    //join([address.street_type, address.street], " "),
    //join([address.house_type, address.house], " "),
    //join([address.block_type, address.block], " "),
    //join([address.flat_type, address.flat], " ")
  //);
}
  
});
</script>
{/literal}
{/if}
<script type="text/javascript">
{literal}
$(function($){

    $('.form-anti-bot, .form-anti-bot-2').hide(); // hide inputs from users
    var answer = $('.form-anti-bot input#anti-bot-a').val(); // get answer
    $('.form-anti-bot input#anti-bot-q').val( answer ); // set answer into other input

    if ( $('form#smart_checkout input#anti-bot-q').length == 0 ) {
        var current_date = new Date();
        var current_year = current_date.getFullYear();
        $('form#smart_checkout').append('<input type="hidden" name="anti-bot-q" id="anti-bot-q" value="'+current_year+'" />'); // add whole input with answer via javascript to form
    }

});
{/literal}
</script>
<div id="load_status"></div>
<div id="box">
<div id="checkout">
{$PAYMENT_FIELDS}
{$FORM_ACTION}
{if $error!=''}
<div class="CheckoutError">
{$error}
</div>
{/if}

{if $TEXT_ORIGIN_LOGIN}<p>{$TEXT_ORIGIN_LOGIN}</p>{/if}

<div id="shipping_box" class="sm_layout_box">
<h2>{$TITLE_SHIPPING_ADDRESS}</h2>
{if $ADDRESS_LABEL_SHIPPING_ADDRESS}
{$ADDRESS_LABEL_SHIPPING_ADDRESS}
<br />
{$BUTTON_SHIPPING_ADDRESS}
{/if}
{if !$smarty.session.customer_id}
<!-- форма -->
<fieldset class="form">
{if $gender=='1'} 
<p><label for="gender">{#text_gender#}</label> {$INPUT_MALE}&nbsp;{$INPUT_FEMALE}</p>
{/if}
<p><label for="firstname">{#text_firstname#}</label> {$INPUT_FIRSTNAME}</p>
{if $secondname=='1'}<p><label for="secondname">{#text_secondname#}</label> {$INPUT_SECONDNAME}</p>
{/if}
<p><label for="lastname">{#text_lastname#}</label> {$INPUT_LASTNAME}</p>
{if $birthdate=='1'} 
<p><label for="dob">{#text_birthdate#}</label> {$INPUT_DOB}</p>
{/if}
</fieldset>
{if $company=='1'}<fieldset class="form">
<p><label for="company">{#text_company#}</label> {$INPUT_COMPANY}</p>
</fieldset>
{/if}<div id="shipping_address">
<fieldset class="form">
{if $street_address=='1'}{/if}
{if $street_address=='1'}<p><label for="address">{#text_street#}</label> {$INPUT_STREET}</p>
{/if}
{if $suburb=='1'}<p><label for="suburb">{#text_suburb#}</label> {$INPUT_SUBURB}</p>
{/if}
{if $postcode=='1'}<p><label for="postcode">{#text_code#}</label> {$INPUT_CODE}</p>
{/if}
{if $city=='1'}<p><label for="city">{#text_city#}</label> {$INPUT_CITY}</p>
{/if}
{if $country=='1'}
<div id="shipping_country_box">
<div id="shipping_country"><p><label for="country">{#text_country#}</label> {$SELECT_COUNTRY}</p>
</div><!--div end shipping_country -->
</div><!--div end shipping_country_box -->
{/if}
{if $state=='1'}
<div id="shipping_state_box">
<div id="shipping_state"><p><label for="state">{#text_state#}</label> <span id="stateXML">{$INPUT_STATE}</span></p>
</div><!--div end shipping_state -->
</div><!--div end shipping_state_box -->
{/if}
</fieldset>
</div> <!--div end shipping_address -->
{/if}
</div> <!--div end shipping_box --> 


{if $sc_payment_address_show}
<div id="payment_address_box"  class="sm_layout_box">
<h2>{$TITLE_PAYMENT_ADDRESS}</h2>
{if $ADDRESS_LABEL_PAYMENT_ADDRESS}
{$ADDRESS_LABEL_PAYMENT_ADDRESS}
<br />
{$BUTTON_PAYMENT_ADDRESS}
{/if}
{if !$smarty.session.customer_id}
<div id="payment_address_checkbox">
{$PAYMENT_ADDRESS_CHECKBOX}{$TEXT_SHIPPING_SAME_AS_PAYMENT}
</div>
<div id="payment_address">
<!-- форма -->
<fieldset class="form">
{if $gender_payment=='1'} 
<p><label for="gender_payment">{#text_gender#}</label> {$INPUT_MALE_PAYMENT}&nbsp;{$INPUT_FEMALE_PAYMENT}</p>
{/if}
<p><label for="firstname_payment">{#text_firstname#}</label> {$INPUT_FIRSTNAME_PAYMENT}</p>
{if $secondname_payment=='1'}<p>{#text_secondname#} {$INPUT_SECONDNAME_PAYMENT}</p>
{/if}
<p><label for="lastname_payment">{#text_lastname#}</label> {$INPUT_LASTNAME_PAYMENT}</p>
{if $birthdate_payment=='1'} 
<p><label for="dob">{#text_birthdate#}</label> {$INPUT_DOB_PAYMENT}</p>
{/if}
</fieldset>
{if $company_payment=='1'}<fieldset class="form">
<p>{#text_company#} {$INPUT_COMPANY_PAYMENT}</p>
</fieldset>
{/if}<fieldset class="form">
{if $street_address_payment=='1'}{/if}
{if $street_address_payment=='1'}<p><label for="address">{#text_street#}</label> {$INPUT_STREET_PAYMENT}</p>
{/if}
{if $suburb_payment=='1'}<p><label for="suburb">{#text_suburb#}</label> {$INPUT_SUBURB_PAYMENT}</p>
{/if}
{if $postcode_payment=='1'}<p><label for="postcode">{#text_code#}</label> {$INPUT_CODE_PAYMENT}</p>
{/if}
{if $city_payment=='1'}<p><label for="city">{#text_city#}</label> {$INPUT_CITY_PAYMENT}</p>
{/if}
{if $country_payment=='1'}
<div id="payment_country_box">
<div id="payment_country_"><p><label for="country">{#text_country#}</label> {$SELECT_COUNTRY_PAYMENT}</p>
</div><!--div end payment_country -->
</div><!--div end payment_country_box -->
{/if}
{if $state_payment=='1'}
<div id="shipping_state_box">
<div id="shipping_state"><p><label for="state">{#text_state#}</label> <span id="stateXMLPayment">{$INPUT_STATE_PAYMENT}</span></p>
</div><!--div end shipping_state -->
</div><!--div end shipping_state_box -->
{/if}
</fieldset>
</div><!--div end payment_address -->
{/if}
</div><!--div end payment_address_box -->
{/if}

{if !$smarty.session.customer_id}
<div id="contact_box" class="sm_layout_box">
<fieldset class="form">
<h2>{$TITLE_CONTACT_ADDRESS}</h2>
<p><label for="email">{#text_email#}</label> {$INPUT_EMAIL}</p>
{if $telephone=='1'}<p><label for="telephone">{#text_tel#}</label> {$INPUT_TEL}</p>
{/if}
{if $fax=='1'}<p><label for="fax">{#text_fax#}</label> {$INPUT_FAX}</p>
{/if}
{if $INPUT_CUSTOMERS_EXTRA_FIELDS}
{foreach item=customers_extra_filelds from=$INPUT_CUSTOMERS_EXTRA_FIELDS}<p><label>{$customers_extra_filelds.NAME}:</label> {$customers_extra_filelds.VALUE}</p>
{/foreach}
{/if}
</fieldset>
</div> <!--div end contact_box -->   
{/if}

{if !$smarty.session.customer_id}
<div id="password_box" class="sm_layout_box">
{if $TITLE_CONTACT_PASSWORD}<h2>{$TITLE_CONTACT_PASSWORD}</h2>{/if}
<div id="password_checkbox">
{$PASSWORD_CHECKBOX}
</div>
{if $create_password=='1'}
<div id="password_fields">
<p>{$TEXT_CONTACT_PASSWORD}</p>
</div> <!--div end password_fields --> 
{/if}
</div> <!--div end password_box -->  
{/if}

{if $shipping=='true'}
<div id="shipping_modules_box" class="sm_layout_box">
<h2>{$TITLE_SHIPPING_MODULES}</h2>
<div id="shipping_options"> 
{$SHIPPING_BLOCK}
</div> <!--div end shipping_options-->
</div> <!--div end shipping_modules_box --> 
{/if}

<div id="payment_options" class="sm_layout_box"> 
<h2>{$TITLE_PAYMENT_MODULES}</h2>
{$PAYMENT_BLOCK}
</div> <!--div end payment_options-->

{if $comments=='1'}
<div id="comment_box" class="sm_layout_box">
<h2>{$TITLE_COMMENTS}</h2>
{$COMMENTS}
</div><!--div end comment_box--> 
{/if}

<div id="order_total_modules" class="sm_layout_box">
<h2>{$TITLE_TOTALS}</h2>
<div class="contentText">
<div style="float: right;">
<table border="0" cellspacing="0" cellpadding="2">
{$ORDER_TOTALS}
</table>
</div>
</div>
<p>&nbsp;</p>
</div><!--div end order_total_modules -->

{if $conditions=='true'}
<div id="conditions" class="sm_layout_box">
{$AGB_checkbox} {$smarty.const.SC_CONDITION} {$AGB_LINK} {$smarty.const.SC_CONDITION_END}
</div><!--div end conditions --> 
{/if}

<div class="form-anti-bot" style="clear:both;">
	<strong>Current <span style="display:none;">month</span> <span style="display:inline;">ye@r</span> <span style="display:none;">day</span></strong> <span class="required">*</span>
	<input type="hidden" name="anti-bot-a" id="anti-bot-a" value="{$smarty.now|date_format:"%Y"}" />
	<input type="text" name="anti-bot-q" id="anti-bot-q" size="30" value="19" />
</div>
<div class="form-anti-bot-2" style="display:none;">
	<strong>Leave this field empty</strong> <span class="required">*</span>
	<input type="text" name="anti-bot-e-email-url" id="anti-bot-e-email-url" size="30" value=""/>
</div>

<br />
<div class="pagecontentfooter">
{$BUTTON_CONTINUE}
</div>
{$FORM_END}
</div><!-- Div end checkout -->
</div><!-- Div end checkout_container -->
