{config_load file="$language/dom.conf" section="main"}  
{php}if(isset($_GET['coID'])  && $_GET['coID'] == 15){{/php}
<section class="letter"><a href="#" class="hide-letter"><i class="icon-cross"></i></a>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
              <div class="modal">
                <h2 class="title-modal">{#con1#}</h2>
                <form id="validateLetter" action="#" name="form7">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                      <label for="name">{#text14#}</label>
                      <input id="name" type="text" name="name7">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                      <label for="phone">{#head_mail_t6#}</label>
                      <input id="phone" type="text" name="phone7">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                      <label for="email">{#head_mail_t1#}</label>
                      <input id="email" type="email" name="email7">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                      <label for="comment">{#con2#}</label>
                      <textarea id="comment" name="comment7"></textarea>
                    </div>
                  </div>
                  <div class="inner-hr">
                    <hr>
                  </div>
                  <button class="send">{#con3#}</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="contacts">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h3 class="title">{#con4#}</h3>
              <hr>
              <address>{php}echo get_option('contacts_1');{/php}</address>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h3 class="title">{#con5#}</h3>
              <hr>
              <p class="phone">{php}echo get_option('contacts_2_1');{/php}</p>
              <div class="inner-link"><a href="mailto:{php}echo get_option('contacts_2_2');{/php}" class="link-mail">{php}echo get_option('contacts_2_2');{/php}</a></div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h3 class="title">{#con6#}</h3>
              <hr>
              <p class="phone">{php}echo get_option('contacts_3_1');{/php}</p>
              <div class="inner-link"><a href="mailto:{php}echo get_option('contacts_3_2');{/php}" class="link-mail">{php}echo get_option('contacts_3_2');{/php}</a></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h3 class="title">{#con7#}</h3>
              <hr>
              <p class="phone">{php}echo get_option('contacts_4_1');{/php}</p>
              <div class="inner-link"><a href="mailto:{php}echo get_option('contacts_4_2');{/php}" class="link-mail">{php}echo get_option('contacts_4_2');{/php}</a></div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <h3 class="title">{#con8#}</h3>
              <hr>
              <p class="phone">{php}echo get_option('contacts_5_1');{/php}</p>
              <div class="inner-link"><a href="mailto:{php}echo get_option('contacts_5_2');{/php}" class="link-mail">{php}echo get_option('contacts_5_2');{/php}</a></div>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <button class="send-director">{#con9#}</button>
            </div>
          </div>
        </div>
      </section>
      <section class="map">
        <div id="map-yandex"></div>
      </section>
<script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{php}}elseif( isset($_GET['coID'])  && $_GET['coID'] == 4){{/php}

        {$CONTENT_BODY}
    {if $pic}    
<section class="history-sliders">
        <div id="historySlider-1" class="owl-carousel owl-theme">
          {foreach name=aussen item=m from=$pic}
          <div class="content"><img src="/images/pic/{$m.pic_img}" alt="Work slide" class="img-slide resp"></div>
          {/foreach}
        </div>
        <div id="historySlider-2" class="owl-carousel owl-theme">
            {foreach name=aussen item=m from=$pic1}
          <div class="content"><img src="/images/pic/{$m.pic_img}" alt="Work slide" class="img-slide resp"></div>
          {/foreach}
        </div>
      </section>
      
 {/if}          
        {if $ser}
        
    <section class="certificate">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
<h2 class="title">{#con25#}</h2>
<div class="blocks-certificates">
<div class="row">





    
         {foreach name=aussen item=m from=$ser}
            <div class="col-xs-4 col-sm-3 col-md-3">
<div class="block-certificate"><a class="fancybox-gallery" href="/images/lic/{$m.lic_img}" rel="gallery1"><img class="resp" src="/images/lic/{$m.lic_img}" alt="Certificates" /></a>
<p class="descr">{$m.lic_title}</p>
</div>
</div>
            
            
         {/foreach}
 </div>
</div>
</div>
</div>
</div>
</section>        
         
        {/if}
      </section>
      
{php}}else {{/php}

 <section class="about-company k4">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
  <h2 class="title">{$CONTENT_HEADING}</h2>
<hr>
<div class="clearfix"></div>          
 {$CONTENT_BODY}
 </div>
 </div></div>
 </section>
{php}}{/php}

