{config_load file="$language/lang_$language.conf" section="create_account"}<script type="text/javascript">
{literal}
$(function($){

    $('.form-anti-bot, .form-anti-bot-2').hide(); // hide inputs from users
    var answer = $('.form-anti-bot input#anti-bot-a').val(); // get answer
    $('.form-anti-bot input#anti-bot-q').val( answer ); // set answer into other input

    if ( $('form#create_account input#anti-bot-q').length == 0 ) {
        var current_date = new Date();
        var current_year = current_date.getFullYear();
        $('form#create_account').append('<input type="hidden" name="anti-bot-q" id="anti-bot-q" value="'+current_year+'" />'); // add whole input with answer via javascript to form
    }

});
{/literal}
</script>
{if $smarty.const.DADATA_API_KEY != "" and $smarty.session.language == "russian"}
<!--[if lt IE 10]>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
<![endif]-->
<script type="text/javascript" src="https://dadata.ru/static/js/lib/jquery.suggestions-15.7.min.js"></script>
<script type="text/javascript">
{literal}
$(function () {

var token = {/literal}"{$smarty.const.DADATA_API_KEY}"{literal};

$("#firstname").suggestions({
  serviceUrl: "https://dadata.ru/api/v2",
  token: token,
  type: "NAME",
  params: {
    parts: ["NAME"]
  }
});

$("#lastname").suggestions({
  serviceUrl: "https://dadata.ru/api/v2",
  token: token,
  type: "NAME",
  params: {
    parts: ["SURNAME"]
  }
});

$("#email_address").suggestions({
  serviceUrl: "https://dadata.ru/api/v2",
  token: token,
  type: "EMAIL",
  params: {
    parts: ["SURNAME"]
  }
});
      
$("#street_address").suggestions({
  serviceUrl: "https://dadata.ru/api/v2",
  token: token,
  type: "ADDRESS",
  geoLocation: true,
  onSelect: showSelected
});

function join(arr /*, separator */) {
  var separator = arguments.length > 1 ? arguments[1] : " ";
  return arr.filter(function(n){return n}).join(separator);
}

function showSelected(suggestion) {
  var address = suggestion.data;
  $("#postcode").val(address.postal_code);
  if (address.region == "Москва" || address.region == "Санкт-Петербург") {
  $("#state").val(address.region);
  } else {
  $("#state").val(join([
    join([address.region, address.region_type_full], " ")
    //join([address.region, address.region_type], " "),
    //join([address.area_type, address.area], " ")
  ]));
  }
  $("#city").val(join([
    join([address.city_type, address.city], " "),
    join([address.settlement_type, address.settlement], " ")
  ]));
  //$("#street_address").val(
    //join([address.street_type, address.street], " "),
    //join([address.house_type, address.house], " "),
    //join([address.block_type, address.block], " "),
    //join([address.flat_type, address.flat], " ")
  //);
}
  
});
</script>
{/literal}
{/if}
<h1>{#heading_create_account#}</h1>
{$FORM_ACTION}{if $error!=''}
{$error}
{/if}
<div class="page">
<div class="pagecontent">
<span class="Requirement">{#text_must#}</span>
<br />
<br />
<!-- форма -->
<fieldset class="form">
<legend>{#title_personal#}</legend>
{if $gender=='1'} 
<p><label for="gender">{#text_gender#}</label> {$INPUT_MALE}&nbsp;{$INPUT_FEMALE}</p>
{/if}
<p><label for="firstname">{#text_firstname#}</label> {$INPUT_FIRSTNAME}</p>
{if $secondname=='1'}<p><label for="secondname">{#text_secondname#}</label> {$INPUT_SECONDNAME}</p>
{/if}
<p><label for="lastname">{#text_lastname#}</label> {$INPUT_LASTNAME}</p>
{if $birthdate=='1'} 
<p><label for="dob">{#text_birthdate#}</label> {$INPUT_DOB}</p>
{/if}
<p><label for="email">{#text_email#}</label> {$INPUT_EMAIL}</p>
<p><label for="newsletter">{#text_newsletter#}</label>{$INPUT_NEWSLETTER}</p>
</fieldset>
{if $company=='1'}<fieldset class="form">
<legend>{#title_company#}</legend>
<p><label for="company">{#text_company#}</label> {$INPUT_COMPANY}</p>
{if $vat=='1'}<p><label for="vat">{#text_ustid#}</label> {$INPUT_VAT}</p>
{/if}
</fieldset>
{/if}<fieldset class="form">
{if $street_address=='1'}<legend>{#title_address#}</legend>
{/if}
{if $street_address=='1'}<p><label for="address">{#text_street#}</label> {$INPUT_STREET}</p>
{/if}
{if $suburb=='1'}<p><label for="suburb">{#text_suburb#}</label> {$INPUT_SUBURB}</p>
{/if}
{if $postcode=='1'}<p><label for="postcode">{#text_code#}</label> {$INPUT_CODE}</p>
{/if}
{if $city=='1'}<p><label for="city">{#text_city#}</label> {$INPUT_CITY}</p>
{/if}
{if $state=='1'}<p><label for="state">{#text_state#}</label> <span id="stateXML">{$INPUT_STATE}</span></p>
{/if}
{if $country=='1'}<p><label for="country">{#text_country#}</label> {$SELECT_COUNTRY}</p>
{/if}
</fieldset>
<fieldset class="form">
{if $telephone=='1'}<legend>{#title_contact#}</legend>
{/if}
{if $telephone=='1'}<p><label for="telephone">{#text_tel#}</label> {$INPUT_TEL}</p>
{/if}
{if $fax=='1'}<p><label for="fax">{#text_fax#}</label> {$INPUT_FAX}</p>
{/if}
</fieldset>
{if $INPUT_CUSTOMERS_EXTRA_FIELDS}
<fieldset class="form">
<legend>{#title_options#}</legend>
{foreach item=customers_extra_filelds from=$INPUT_CUSTOMERS_EXTRA_FIELDS}<p><label>{$customers_extra_filelds.NAME}:</label> {$customers_extra_filelds.VALUE}</p>
{/foreach}
</fieldset>
{/if}
<fieldset class="form">
<legend>{#title_password#}</legend>
<p><label for="pass">{#text_password#}</label> {$INPUT_PASSWORD}</p>
<p><label for="confirmation">{#text_confirmation#}</label> {$INPUT_CONFIRMATION}</p>
</fieldset>
<!-- /форма -->
<div class="form-anti-bot" style="clear:both;">
	<strong>Current <span style="display:none;">month</span> <span style="display:inline;">ye@r</span> <span style="display:none;">day</span></strong> <span class="required">*</span>
	<input type="hidden" name="anti-bot-a" id="anti-bot-a" value="{$smarty.now|date_format:"%Y"}" />
	<input type="text" name="anti-bot-q" id="anti-bot-q" size="30" value="19" />
</div>
<div class="form-anti-bot-2" style="display:none;">
	<strong>Leave this field empty</strong> <span class="required">*</span>
	<input type="text" name="anti-bot-e-email-url" id="anti-bot-e-email-url" size="30" value=""/>
</div>
</div>
</div>

<div class="pagecontentfooter">
{$BUTTON_SUBMIT}
</div>
{$FORM_END}