{config_load file="$language/lang_$language.conf" section="featured"} 
<div class="page">
<div class="pageItem">

<section id="slider">
	<div id="sequence-theme">
		<div id="sequence">
			<div class="sequence-prev"><i class="fa fa-chevron-left"></i></div>
			<div class="sequence-next"><i class="fa fa-chevron-right"></i></div>
				<ul class="sequence-canvas">
				{foreach name=aussen item=module_data from=$module_content}
					<li{if $smarty.foreach.aussen.first} class="animate-in"{/if}>
						<div class="text">
							<h2 class="title"><span><a href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME|strip_tags|vam_truncate:30:"...":true}</a></span></h2>
      				{if $module_data.REVIEWS_TOTAL > 0}<div class="description"><span class="rating">{$module_data.REVIEWS_STAR_RATING}</span> <span class="reviews">{$smarty.const.TEXT_TOTAL_REVIEWS}: {$module_data.REVIEWS_TOTAL}</span></div>{/if}
							<div class="description">{$module_data.PRODUCTS_SHORT_DESCRIPTION|strip_tags|vam_truncate:120:"...":true}</div>
							<a href="{$module_data.PRODUCTS_LINK}" class="btn">{$smarty.const.TEXT_READ_MORE}</a>
						</div>
						<img class="image" src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" />
					</li>
				{/foreach}
				</ul>
		</div>
	</div>
</section>         

<div class="clear"></div>
</div>

</div>

<div class="clear"></div>