{config_load file="$language/lang_$language.conf" section="latest_news"} 
{if $ONE eq 1}
  {assign var="module_data" value=$module_content[0]}
   <section class="about-company">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
  <h2 class="title">{$module_data.NEWS_HEADING}</h2>
<hr>
<div class="clearfix"></div>          
 {$module_data.NEWS_CONTENT}
 </div>
 </div></div>
 </section>
{else}
 <section class="about-company">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
  <h2 class="title">{#heading_text#}</h2>
<hr>
<div class="clearfix"></div>          

  {foreach name=aussen item=module_data from=$module_content}
<div class="page">
<div class="pageItem">
<dl class="itemLatestNews">
<dt class="itemNews">
</dt>

<dd class="itemNews">
<span class="date">{$module_data.NEWS_DATA}</span>
</dd>

<dd class="itemNews">
<strong><a href="{$module_data.NEWS_LINK_MORE}">{$module_data.NEWS_HEADING}</a></strong>
</dd>

<dd class="itemNews">
{$module_data.NEWS_CONTENT|vam_truncate:$smarty.const.MAX_DISPLAY_LATEST_NEWS_CONTENT:" ..."}
</dd>

</dl>

<div class="clear"></div>
</div>

</div>
          {/foreach} 

 </div>
 </div></div>
 </section>
{/if}