{config_load file="$language/lang_$language.conf" section="logoff"} 
 <section class="about-company">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
  <h2 class="title">{#heading_logoff#}</h2>
<hr>
<div class="clearfix"></div><br>          
{#text_logoff#}
 </div>
 </div></div>
 </section>