{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/dom.conf" section="main"}
{if $text}
  <section class="about-company">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <h3 class="title">{$title}</h3>
              <hr>
              <p class="descr">
                {$text}
              </p>
            </div>
          </div>
        </div>
      </section>
      {/if}
      {if $perf}
      <section class="features">
        <div class="container">
          <div class="row">
            <h3 class="title">{#text3#}</h3>
            <div class="list-features">
              <div class="row">
              
                         {php}$i=0;{/php}
           {foreach name=aussen item=module_data from=$perf}
                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="{php}echo $i;{/php}">{$module_data.slider_text1}</span></span>
                </div>
                {php}$i++; if ($i % 2 == 0){{/php}
                   <div class="clearfix"></div>
                {php}}{/php}
                {/foreach}
              </div>
            </div>
          </div>
        </div>
      </section>{/if}
      
      {if $hit}        
<section class="hits">
        <div class="container">
          <h3 class="title">{#text1#}</h3>
          <div class="row">
           {php}$i=0;{/php}
           {foreach name=aussen item=module_data from=$hit}
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" class="hit-img resp"></a>
              <a href="{$module_data.PRODUCTS_LINK}" class="link-hit">{if $module_data.text==14}{#type1#}{/if}{if $module_data.text==13}{#type2#}{/if}{if $module_data.text==15}{#type3#}{/if}
 <span>«{$module_data.PRODUCTS_NAME}»</span>{if $module_data.sh}, {$module_data.sh} м²{/if}</a>
                <hr>
                <p class="price">{$module_data.PRODUCTS_PRICE}</p>
                <p class="old-price">{$module_data.PRODUCTS_PRICE0}</p>
              </div>
            </div>
            {php}$i++; if ($i % 2 == 0) echo '<div class="clearfix"></div>';{/php}
            {/foreach}
          </div>
        </div>
      </section>
{/if}


      <section class="development">
        <div class="container">
          <div class="row">
            <div class="block-development">
              <p class="descr">
                {#con10#}
              </p>
              <button type="button" class="link-dev">{#text4#}</button>
            </div>
          </div>
        </div>     
      </section>
  
      {if $sotr}
      <section class="cooperation">
        <div class="container">
          <div class="row">
            <h3 class="title">{#text2#}</h3>
            <div class="block-cooperation">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                  {php}$i=1;{/php}
                  {foreach name=aussen item=module_data from=$sotr}
                  <div class="col-xs-6 col-sm-4 col-md-4"><a href="/step.html#a{php}echo $i;{/php}" class="coop coop-{php}echo $i;{/php}">
                      <div class="number"><span>{php}echo $i;{/php}</span></div>
                      <div class="circle"><i class="icon {$module_data.slider_text1}"></i></div>
                      <p class="descr">{$module_data.slider_title}</p></a></div>
                      {php}$i++;{/php}
                  {/foreach}    
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {/if}
      {if $ac_time}
      <section class="offer">
        <div class="container">
          <div class="row">
            <h3 class="title">{#con12#}</h3>
            <hr>
            <input type="hidden" id="ac_time" value="{$ac_time}">
            <p class="descr">
             {$act_desc}
            </p><img src="{$ac_image}" alt="Offer" class="offer-img resp">
            <p class="end-offer">{#con13#}</p>
            <div class="block-clock">
              <div class="line-days"></div>
              <div class="line-hours"></div>
              <div class="line-minutes"></div>
              <div class="clock"></div>
            </div>
          </div>
        </div>
      </section> {/if}
      <section class="excursion">
        <div class="container">
          <div class="row">
            <h3 class="title" style="opacity: 0.6">{#head_mail_title#}</h3>
            <form class="subscribe" name="send2" id="send2">
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="text" placeholder="{#head_mail_t5#}" name="name2">
              </div>
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="text" placeholder="{#head_mail_t6#}" name="phone2">
              </div>
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="email" placeholder="{#head_mail_t1#}" name="email2">
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <input type="submit" value="{#head_mail_t7#}" class="submit">
              </div>
            </form>
          </div>
        </div>
      </section>
      {$MODULE_reviews}
      <section class="discount">
        <div class="container">
          <div class="row">
            <!-- Если файл добавлен, добавить класс active--><i class="icon-status" style="display:none"></i>
            <i class="icon-status2" style="display:none"></i>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p class="descr">{#file_text#}</p>
            </div>
             <form id="comform" enctype="multipart/form-data" action="/page.php?page=mail::send3" target="rFrame" method="post" id="omsk">
             <input type="hidden" name="name13" value=""> 
             <input type="hidden" name="phone13" value=""> 
             <input type="hidden" name="time13" value=""> 
              <div class="col-xs-12 col-sm-3 col-md-3">
              
              <a class="upload-link a1"><i class="icon-clip2"></i><span class="upload-text">{#file_text1#}</span>
                  <input id="fa1" type="file" name="asc[]" class="upload-inp">
             </a>
             <a class="upload-link a2" style="display:none"><i class="icon-clip"></i><span class="upload-text">{#file_text2#}</span>
                  <input id="fa2" type="file" name="asc[]" class="upload-inp">
            </a>
            <a class="upload-link a3" style="display:none"><i class="icon-clip"></i><span class="upload-text">{#file_text2#}</span>
                  <input id="fa3" type="file" name="asc[]" class="upload-inp">
            </a>            
            <a class="upload-link a4" style="display:none"><i class="icon-clip3"></i><span class="upload-text">{#file_text3#}</span></a>
                     
                  </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <!-- Если файл добавлен, добавить класс active-->
                <input type="submit" class="submit" value="{#file_button#}">
              </div>
            </form> 
            <iframe id="rFrame" name="rFrame" style="display: none"> </iframe> 
          </div>
        </div>
      </section>
	{$MODULE_latest_news}  
      <section class="subscription">
        <div class="container">
          <div class="row">
            <form method="post" name="see_mail" id="mail_send">
              <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="block-inputs">
                  <input type="email" name="email" placeholder="{#head_mail_t1#}" class="sub-inp">
                  <div class="checboxes">
                    <input id="checkbox1" type="checkbox" name="check1" class="checkbox">
                    <label for="checkbox1" class="check-label"></label>
                    <label for="checkbox1" class="label-name">{#head_mail_t2#}</label>
                    <input id="checkbox2" type="checkbox" name="check2" checked class="checkbox">
                    <label for="checkbox2" class="check-label"></label>
                    <label for="checkbox2" class="label-name">{#head_mail_t3#}</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <input type="submit" value="{#head_mail_t4#}" class="submit">
              </div>
            </form>
          </div>
        </div>
      </section>
