{config_load file="$language/lang_$language.conf" section="newsletter"}
<h1>{#heading_title#}</h1>

{if $info_message!=''} 
<div class="contacterror">{$info_message}</div>
{/if}

{$FORM_ACTION} 
<div class="page">
<div class="pagecontent">
<script type="text/javascript">
{literal}
src="captcha.php";
function reload(){
        document.captcha.src='loading.gif';
        document.captcha.src=src+'?rand='+Math.random();
}
{/literal}
</script>
<fieldset class="form">
<legend>{#heading_title#}</legend>
<p><span class="bold">{#text_sec_code#}</span> {$CAPTCHA_IMG} <a href="javascript:void(0)" title="{#text_update#}" onclick="reload()">{#text_update#}</a></p>
<p><span class="bold">{#text_sec_code#}</span> {$CAPTCHA_INPUT}</p>
<p><span class="bold">{#text_email#}</span> {$INPUT_EMAIL}</p>
<p><span class="bold">{$CHECK_INP}</span> {#text_in#}</p>
<p><span class="bold">{$CHECK_DEL}</span> {#text_out#}</p>
</fieldset>
</div>

</div>

<div class="pagecontentfooter">
{$BUTTON_SEND}
</div>
{$FORM_END}