{config_load file="$language/lang_$language.conf" section="index"}
{config_load file="$language/dom.conf" section="main"}
 <section class="catalog">
        <div class="container" style="">
          <div class="row">
            {php}if ( !isset($_GET['no'])){{/php}
            <h3 class="title">{#con26#}</h3>
            {php}}else{{/php}
            <h3 class="title">{#f27#}</h3>
            {php}}{/php}
            <div class="sidebars" style="visibility: hidden;">
              {$filt}
            </div>
            <div class="block-catalog">
              <div class="col-md-10 col-md-offset-1">
                <div class="row" id="prod">
 
                   {foreach name=aussen item=module_data from=$module_content}
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="block-product"><a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="Product" class="img resp"></a>
                      {if $module_data.sh}<div class="meter"> <span>{$module_data.sh} м&sup2</span></div>{/if}<a href="{$module_data.PRODUCTS_LINK}" class="link">{$module_data.PRODUCTS_NAME}</a><span class="tehnologi">{$module_data.mk}</span>      
                      <hr>
                      <p class="price">{$module_data.PRODUCTS_PRICE}</p>
                      <p class="old-price">{$module_data.PRODUCTS_PRICE0}&nbsp;</p>
                    </div>
                  </div>
                  {/foreach}
                
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    {if $NAVIGATION_PAGES !=1}
        {$NAVIGATION}
        {/if}
                    
                  </div>
                  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
         {if $perf}
      <section class="features">
        <div class="container">
          <div class="row">
            <h3 class="title">{#text3#}</h3>
            <div class="list-features">
              <div class="row">
              
                         {php}$i=0;{/php}
           {foreach name=aussen item=module_data from=$perf}
                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="{php}echo $i;{/php}">{$module_data.slider_text1}</span></span>
                </div>
                {php}$i++; if ($i % 2 == 0){{/php}
                   <div class="clearfix"></div>
                {php}}{/php}
                {/foreach}
              </div>
            </div>
          </div>
        </div>
      </section>{/if}
      {if $file_text}  
      <section class="development">
        <div class="container">
          <div class="row">
            <div class="block-development">
              <p class="descr">
                {#con10#}
              </p>
              <button type="button" class="link-dev">{#text4#}</button>
            </div>
          </div>
        </div>     
      </section>
      {/if}
  <section class="questions">
        <div class="container">
          <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
            <h3 class="title">{#text5#}</h3>
            <div class="row">
              <form action="#" name="form4">
                <div class="col-xs-6 col-sm-4 col-md-4">
                  <input type="text" placeholder="{#head_mail_t5#}" name="name4">
                </div>
                <div class="col-xs-6 col-sm-4 col-md-4">
                  <input type="text" placeholder="{#head_mail_t6#}" name="phone4">
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <input type="submit" value="{#file_button#}" class="send">
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>