{if $options!=''}
{foreach name=outer item=options_data from=$options}

  <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="title-option">{$options_data.NAME}</div>
                <hr>
                <div class="block-checkboxs">
 {php}$i=0;{/php}               
{foreach key=key_data item=item_data from=$options_data.DATA}
 <input prefix="{$item_data.PREFIX}" price="{$item_data.PRICE_PLAIN}" id="id{$item_data.ID}" type="radio" name="id{$options_data.ID}" val="{$options_data.ID}" val1="{$item_data.TEXT}" value="{$item_data.ID}" {php}if ($i==0) echo 'checked';$i++;{/php} class="checkbox" v="{php}echo $i;{/php}">
                  <label for="id{$item_data.ID}" class="check-label"></label>
                  <label for="id{$item_data.ID}" class="label-name">{$item_data.TEXT}</label>
                  <div class="clearfix"></div>
{/foreach}

   </div>
              </div>
{/foreach}
{/if}