<table  width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
  <tr> 
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
  <tr> 
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>One of your customers reach accumulated discount limit. All details below:</strong><br />
      <br />
Customer: {$CUSTOMERNAME}<br />
E-mail: {$EMAIL}<br />
Reached limit: {$ACCUMULATED_LIMIT}<br />
New group: {$GROUPNAME}<br />
New discount: {$GROUPDISCOUNT}%<br />
       </font></td>
  </tr>
</table>