<table  width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
  <tr> 
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
  <tr> 
    <td><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>Dear {$NAME}!</strong><br>
      <br>
Thank you for stopping by {$STORE_NAME} and considering us for your purchase.<br>
<br>
We noticed that during a visit to our store you placed the following item(s) in your shopping cart, but did not complete the transaction.<br>
Shopping Cart Contents:<br>
{$PRODUCTS}
<br>
We are always interested in knowing what happened and if there was a reason that you decided not to purchase at this time. If you could be so kind as to let us know if you had any issues or concerns, we would appreciate it. We are asking for feedback from you and others as to how we can help make your experience at {$STORE_NAME} better.<br>
<br>
PLEASE NOTE:<br>
If you believe you completed your purchase and are wondering why it was not delivered, this email is an indication that your order was NOT completed, and that you have NOT been charged! Please return to the store in order to complete your order.<br>
<br>
Our apologies if you already completed your purchase, we try not to send these messages in those cases, but sometimes it is hard for us to tell depending on individual circumstances.<br>
<br>
Additional message:<br>
{$MESSAGE}      
<br>
       </font></td>
  </tr>
</table>