214
a:5:{s:8:"template";a:1:{s:36:"dom/module/new_products_default.html";b:1;}s:6:"config";a:1:{s:25:"russian/lang_russian.conf";b:1;}s:9:"timestamp";i:1447776935;s:7:"expires";i:1447780535;s:13:"cache_serials";a:0:{}} <h1><a href="http://rukladom.ru/products_new.php">Новинки</a></h1>
<div class="page">
<div class="pageItem">

<!-- start: products listing -->
<div class="row-fluid shop-products">
	<ul class="thumbnails">
				<li class="item span4 first">
			<div class="thumbnail text-center">
								<a href="http://rukladom.ru/provans.html" class="image"><img src="images/product_images/thumbnail_images/15_0.jpg" alt="Прованс" /><span class="frame-overlay"></span><span class="price">1<span class="thousands"></span>447<span class="thousands"></span>987 P</span><span class="label sale">Распродажа</span></a>
			<div class="inner notop nobottom text-left">
				<h4 class="title"><a href="http://rukladom.ru/provans.html">Прованс</a></h4>
								<div class="description"></div>
			</div>
			</div>
			<div class="inner darken notop">
				<a class="btn btn-add-to-cart" href="http://rukladom.ru/index.php?action=buy_now&BUYproducts_id=15"><i class="fa fa-shopping-cart"></i> Купить</a>
			</div>
		</li>
				<li class="item span4">
			<div class="thumbnail text-center">
								<a href="http://rukladom.ru/shampan.html" class="image"><img src="images/product_images/thumbnail_images/75_0.jpg" alt="Шампань" /><span class="frame-overlay"></span><span class="price">956<span class="thousands"></span>055 P</span></a>
			<div class="inner notop nobottom text-left">
				<h4 class="title"><a href="http://rukladom.ru/shampan.html">Шампань</a></h4>
								<div class="description"></div>
			</div>
			</div>
			<div class="inner darken notop">
				<a class="btn btn-add-to-cart" href="http://rukladom.ru/index.php?action=buy_now&BUYproducts_id=75"><i class="fa fa-shopping-cart"></i> Купить</a>
			</div>
		</li>
				<li class="item span4">
			<div class="thumbnail text-center">
								<a href="http://rukladom.ru/kampanelo.html" class="image"><img src="images/product_images/thumbnail_images/82_0.jpg" alt="Кампанело" /><span class="frame-overlay"></span><span class="price">1<span class="thousands"></span>292<span class="thousands"></span>769 P</span></a>
			<div class="inner notop nobottom text-left">
				<h4 class="title"><a href="http://rukladom.ru/kampanelo.html">Кампанело</a></h4>
								<div class="description"></div>
			</div>
			</div>
			<div class="inner darken notop">
				<a class="btn btn-add-to-cart" href="http://rukladom.ru/index.php?action=buy_now&BUYproducts_id=82"><i class="fa fa-shopping-cart"></i> Купить</a>
			</div>
		</li>
				<li class="item span4 first">
			<div class="thumbnail text-center">
								<a href="http://rukladom.ru/dizhons.html" class="image"><img src="images/product_images/thumbnail_images/84_0.jpg" alt="Дижонс" /><span class="frame-overlay"></span><span class="price">1<span class="thousands"></span>397<span class="thousands"></span>595 P</span></a>
			<div class="inner notop nobottom text-left">
				<h4 class="title"><a href="http://rukladom.ru/dizhons.html">Дижонс</a></h4>
								<div class="description"></div>
			</div>
			</div>
			<div class="inner darken notop">
				<a class="btn btn-add-to-cart" href="http://rukladom.ru/index.php?action=buy_now&BUYproducts_id=84"><i class="fa fa-shopping-cart"></i> Купить</a>
			</div>
		</li>
				<li class="item span4">
			<div class="thumbnail text-center">
								<a href="http://rukladom.ru/voshishenie.html" class="image"><img src="images/product_images/thumbnail_images/92_0.jpg" alt="Восхищение" /><span class="frame-overlay"></span><span class="price">1<span class="thousands"></span>969<span class="thousands"></span>815 P</span></a>
			<div class="inner notop nobottom text-left">
				<h4 class="title"><a href="http://rukladom.ru/voshishenie.html">Восхищение</a></h4>
								<div class="description"></div>
			</div>
			</div>
			<div class="inner darken notop">
				<a class="btn btn-add-to-cart" href="http://rukladom.ru/index.php?action=buy_now&BUYproducts_id=92"><i class="fa fa-shopping-cart"></i> Купить</a>
			</div>
		</li>
				<li class="item span4">
			<div class="thumbnail text-center">
								<a href="http://rukladom.ru/podmoskovnye-vechera.html" class="image"><img src="images/product_images/thumbnail_images/114_0.jpg" alt="Подмосковные вечера" /><span class="frame-overlay"></span><span class="price">2<span class="thousands"></span>185<span class="thousands"></span>033 P</span></a>
			<div class="inner notop nobottom text-left">
				<h4 class="title"><a href="http://rukladom.ru/podmoskovnye-vechera.html">Подмосковные вечера</a></h4>
								<div class="description"></div>
			</div>
			</div>
			<div class="inner darken notop">
				<a class="btn btn-add-to-cart" href="http://rukladom.ru/index.php?action=buy_now&BUYproducts_id=114"><i class="fa fa-shopping-cart"></i> Купить</a>
			</div>
		</li>
				<li class="item span4 first">
			<div class="thumbnail text-center">
								<a href="http://rukladom.ru/yelbrus.html" class="image"><img src="images/product_images/thumbnail_images/1_0.jpg" alt="Эльбрус" /><span class="frame-overlay"></span><span class="price">1<span class="thousands"></span>477<span class="thousands"></span>809 P</span><span class="label sale">Распродажа</span></a>
			<div class="inner notop nobottom text-left">
				<h4 class="title"><a href="http://rukladom.ru/yelbrus.html">Эльбрус</a></h4>
								<div class="description"></div>
			</div>
			</div>
			<div class="inner darken notop">
				<a class="btn btn-add-to-cart" href="http://rukladom.ru/index.php?action=buy_now&BUYproducts_id=1"><i class="fa fa-shopping-cart"></i> Купить</a>
			</div>
		</li>
			</ul>
</div>  
<!-- end: products listing -->  
  
<div class="clear"></div>
</div>

</div>