241
a:5:{s:8:"template";a:1:{s:35:"dom/module/latest_news_default.html";b:1;}s:6:"config";a:2:{s:25:"russian/lang_russian.conf";b:1;s:16:"russian/dom.conf";b:1;}s:9:"timestamp";i:1447776935;s:7:"expires";i:1447780535;s:13:"cache_serials";a:0:{}}

      <section class="news">
        <div class="container">
          <div class="row"><a href="http://rukladom.ru/news.php" class="link-all-news">Новости</a>
            <div id="newsSlider" class="owl-carousel owl-theme">
                             <div class="content"><span class="date-news">20 Сентября 2015</span>
                <div class="clearfix"></div><a href="http://rukladom.ru/news/9mezhdunarodnaya-vystavka-derevyannyi-dom.html" class="link-news">ХI Международная выставка «ДЕРЕВЯННЫЙ ДОМ»</a>
              </div>
                            <div class="content"><span class="date-news">15 Августа 2015</span>
                <div class="clearfix"></div><a href="http://rukladom.ru/news/norvezhskie-turisticheskie-hizhiny.html" class="link-news">Норвежские туристические хижины</a>
              </div>
                          </div>
          </div>
        </div>
       </section>