150
a:4:{s:8:"template";a:1:{s:28:"dom/module/reviews_main.html";b:1;}s:9:"timestamp";i:1447776935;s:7:"expires";i:1447780535;s:13:"cache_serials";a:0:{}}     <section class="comments">
        <div class="container">
          <div class="row">
            <h3 class="title">Отзывы клиентов</h3>
            <div id="reviewSlider" class="owl-carousel owl-theme">
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/plato.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Платонов<br>Андрей</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Наша семья приняла решение жить в собственном доме практически на этапе ее основания. Жена выросла в небольшом поселке, да и мои родители всегда имели дачу. Так что жизнь в единении с природой меня всегда привлекала. Долго не могли реализовать свою мечту. То детей растили, то кризис настигал. Даже проект дома давно уже был и не только в мыслях, но и в виде картинки на бумаге (я неплохо рисую).</div>
<div style="text-align: justify;">Как-то, в очередной раз заглянув в Интернет, мое внимание привлекла компания &laquo;РУКЛАД&raquo;. На первый взгляд ничего особенного &ndash; все, как у других. Думаю, позвоню, приценюсь. Выяснилось, что у них можно построить дом, воспользовавшись системой кредитования. Мне такое предложение крайне обрадовало. В итоге уже через несколько месяцев на моем участке стоял долгожданный дом. Довольны не только мы с женой, довольны наши дети, собака и кошка. Оказывается, всем очень нравится жить на природе. <br />Спасибо большое!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/polun.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Полунин<br>Алексей</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Я и вся моя семья хотим выразить благодарность компании &laquo;РУКЛАД&raquo; за отлично изготовленный сруб нашего загородного дома. В Интернете мы нашли множество всевозможных строительных фирм, однако свой выбор мы отдали этой компании. Что нас привлекло? Например, профессиональное и грамотное отношение к заказчику, внимание и вежливость. Замечу, что качеством строительных материалов остался доволен. А бригада монтажников &ndash; это, как говорят в таком случае мастера на &laquo;все руки&raquo;, настоящие профессионалы!</div>
<div style="text-align: left;">Свою работу делали аккуратно, быстро и слаженно. Нужны нам пояснения &ndash; все рассказывали доступным языком, помогали советом. В установленные сроки наш дом стоял и, скажу честно, очень нам нравился.</div>
<div style="text-align: left;">Компания &laquo;РУКЛАД&raquo; желаю огромных профессиональных успехов. Буду рекомендовать ее услуги друзьям и знакомым!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/markelov.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Маркелов<br>Виктор</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Мы с женой тщательно выбирали компанию, которой могли бы доверить строительство нашей дачи. Были на специализированной выставке, на некоторых стройках, заглядывали в Интернет. Именно здесь мы нашли того, кому доверили это ответственное дело &ndash; компанию &laquo;РУКЛАД&raquo;. Проектов на их сайте было много, но нам понравились два из них &ndash; недорого, красиво, т.е. то, что нам нужно. Результат был следующий: совместно с архитекторами компании мы нарисовали проект своего дачного домика.</div>
<div style="text-align: left;">Дом был собран очень быстро, а главное аккуратно. Строители дали нам рекомендации как ухаживать за нашей дачей. Понравилось и то, что цены на сайте такие, как на самом деле в реальности и доплат никаких не потребовалось. Спасибо за домик нашей мечты!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/xarlamov.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Харламов<br>Валерий</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Недавно я заключил договор на строительство коттеджа из цилиндрического бруса с компанией &laquo;РУКЛАД&raquo;. От сотрудничества остались самые позитивные впечатления. Всего полтора месяца и дом уже стоял на моем участке, практически на пустой территории.<br />В прошлом я строитель, в этой сфере проработал около 30 лет. Однако скажу, что с такими профи встретился впервые. Качество, вежливое отношение, культура на производстве &ndash; все это делает фирму &laquo;РУКЛАД&raquo; одной из лучших. <br />Большое-большое спасибо!!! Так держать у вас для этого есть все необходимое!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/oman.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Омановас<br>Дан</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Очень хочу выразить великую благодарность фирме &laquo;РУКЛАД&raquo; за качественно реализованную работу &ndash; строительство моего дома мечты. Остался доволен и работой, и в целом всем сотрудничеством. Вежливое отношение при проектировании, были выслушаны все наши пожелания и, порой, бредовые идеи. Грамотные советы были весьма кстати. Плюс ко всему быстрая работа по сборке сруба. Бригада рабочих &ndash; это не только настоящие профессионалы, но и просто замечательные люди. Огромное спасибо!</div>
<div style="text-align: left;"><br />Желаю компании &laquo;РУКЛАД&raquo; дальнейшего преуспевания и много-много заказчиков!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/ekat.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Наумкина<br>Екатерина</h5>
                    <hr>
                    <p class="comment"><p style="text-align: left;">Решили с мужем построить хороший дом для постоянного проживания. Участок у нас был куплен давно. Перебрали массу всевозможных вариантов. Но все-таки сошлись во мнении, что хочется дом из дерева. Друзья нам порекомендовали строить из клееного бруса. Съездили в компанию &laquo;РУКЛАД&raquo;, поговорили. Нам все понравилось &ndash; и отношение, и расценки, сам брус и по срокам устраивало. Заказали &ndash; и остались крайне довольны. Дом получился просто чудо, как хорош. Все о чем мы мечтали: красиво, удобно, экологически чисто.<br /> Хочется сказать: &laquo;Огромное спасибо!&raquo;.</p></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/pentaygin.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Пентягин<br>Алексей</h5>
                    <hr>
                    <p class="comment"><p>&nbsp;В свои 40 с небольшим лет решил, что самое время построить собственный дом. И пусть он будет деревянный. По совету знакомых обратился в компанию &laquo;РУКЛАД&raquo;. Сказали, что работают давно и строят качественно. Приехал в офис, поговорили. Скажу честно, вопросов было много. И меня интересовали не только цены. Мне дали грамотные пояснения по каждому. Сделали для моего дома индивидуальный проект, который меня на 100% устроил, заключил договор.<br />Теперь нужно было подождать, примерно месяца два. За это время сам соорудил фундамент. Точно в оговоренный срок привезли бревна, их качество было хорошее. Складывала дом бригада из 4-х человек. Вопросов к ним у меня не было. Хорошо и слаженно работали. Молодцы!<br />&nbsp;Подводя итог, могу сказать, что домом доволен. Теперь и сам советую: стройте дом ТОЛЬКО с компанией &laquo;РУКЛАД&raquo;!</p></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/maxmudov.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Махмудов<br>Сергей</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">В прошлом году принял решение строить дом. Долго изучал материалы для строительства. Решил строить из оцилиндрованного бревна. По совету соседей (они у них строили) обратился в компанию &laquo;РУКЛАД&raquo;. Связался с ними и описал задачу. По моим словам был выполнен проект. Когда была озвучена цена, я понял, что это то что нужно. Тем более качество леса не вызывает сомнений. Он из Коми, северного региона, там лучший материал.<br /> Решил посмотреть на уже выстроенные дома. Их качество меня удовлетворило. Заключил договор. Как и обещали, спустя 1,5 месяца привезли бревна, выстроили красивый дом, который не перестает меня радовать. Спасибо!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/selezneva.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Селезнева<br>Любовь</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Я и мой супруг очень скрупулёзно и долго выбирали организацию, которая бы построила нам и нашим детям качественный деревянный дом. Скажу честно, не сразу, но все-таки свои предпочтения мы отдали компании &laquo;РУКЛАД&raquo;. Все понравилось: и качество материалов, и даже уровень цен.</div>
<div style="text-align: left;">Поначалу немного волновались, все-таки внесли предоплату неизвестной компании. Однако все опасения улетучились, когда точно в срок на нашем участке появилась техника со всем необходимым материалом. В результате мы получили свой собственный дом очень быстро. Всего месяц бригаде потребовалось чтобы сделать все самым лучшим образом. Сотрудничеством я и мой муж остались довольны. В самом ближайшем будущем планируем заказать у них еще и баню. Спасибо Вам!</div></p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>