218
a:5:{s:8:"template";a:1:{s:40:"dom/boxes/box_articles_new_dropdown.html";b:1;}s:6:"config";a:1:{s:25:"russian/lang_russian.conf";b:1;}s:9:"timestamp";i:1447776932;s:7:"expires";i:1447780532;s:13:"cache_serials";a:0:{}}
<li><a href="http://rukladom.ru/u-kogo-kupit-ocilindrovannoe-brevno.html">У кого купить оцилиндрованное бревно?</a></li>
<li><a href="http://rukladom.ru/mezhvencovij-uteplitel.html">Межвенцовый утеплитель</a></li>
<li><a href="http://rukladom.ru/neobhodimie-uslovija-dlja-stroitelstva.html">Необходимые условия для строительства</a></li>
<li><a href="http://rukladom.ru/pravilnij-nagel.html">"Правильный" Нагель</a></li>
<li><a href="http://rukladom.ru/kak-prodlit-srok-sluzhbi-doma-iz-brevna.html">Как продлить срок службы дома из бревна?</a></li>
  