217
a:5:{s:8:"template";a:1:{s:39:"dom/boxes/box_latest_news_dropdown.html";b:1;}s:6:"config";a:1:{s:25:"russian/lang_russian.conf";b:1;}s:9:"timestamp";i:1447776933;s:7:"expires";i:1447780533;s:13:"cache_serials";a:0:{}}
<li><a href="http://rukladom.ru/news/9mezhdunarodnaya-vystavka-derevyannyi-dom.html">ХI Международная выставка «ДЕРЕВЯННЫЙ ДОМ»</a></li>
<li><a href="http://rukladom.ru/news/norvezhskie-turisticheskie-hizhiny.html">Норвежские туристические хижины</a></li>
<li><a href="http://rukladom.ru/news/v-oktyabre-2015-goda-sostoitsya-vystavka-krasivye-derevyannye-doma.html">В октябре 2015 года состоится выставка «КРАСИВЫЕ ДЕРЕВЯННЫЕ ДОМА»</a></li>
<li><a href="http://rukladom.ru/news/s-19-po-22-noyabrya-2015-goda-sostoitsya-vystavka-derevyannoe-domostroenie.html">С 19 по 22 ноября 2015 года состоится выставка «Деревянное домостроение»</a></li>
  