208
a:5:{s:8:"template";a:1:{s:30:"dom/boxes/box_categories2.html";b:1;}s:6:"config";a:1:{s:25:"russian/lang_russian.conf";b:1;}s:9:"timestamp";i:1447776933;s:7:"expires";i:1447780533;s:13:"cache_serials";a:0:{}}
<li class="dropdown">
<a data-toggle="dropdown" class="dropdown-toggle" href="">Разделы <b class="caret"></b></a>
<ul class="dropdown-menu"><li><a href="http://rukladom.ru/bani-iz-brevna-i-brusa.html">Бани из бревна и бруса</a></li><li><a href="http://rukladom.ru/besedki.html">Беседки</a></li><li><a href="http://rukladom.ru/doma-iz-ocilindrovannogo-brevna.html">Дома из оцилиндрованного бревна</a></li><li><a href="http://rukladom.ru/doma-i-profilirovannogo-brusa.html">Дома из профилированного бруса</a></li><li><a href="http://rukladom.ru/catalog.html">Каталог</a></li></ul>
</li>