234
a:5:{s:8:"template";a:1:{s:28:"dom/module/main_content.html";b:1;}s:6:"config";a:2:{s:25:"russian/lang_russian.conf";b:1;s:16:"russian/dom.conf";b:1;}s:9:"timestamp";i:1447776935;s:7:"expires";i:1447780535;s:13:"cache_serials";a:0:{}}

  <section class="about-company">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <h3 class="title">Строительство деревянных домов наивысшего качества</h3>
              <hr>
              <p class="descr">
                Команда профессионалов, по-настоящему преданных своему делу. Сертифицированный производитель оцилиндрованного бревна, клееного и профилированного бруса. Наши специалисты занимаются производством, строительством и отделкой деревянных домов, используя экологически чистые материалы и высокотехнологичное оборудование. Поэтому мы в числе лидеров рынка деревянного домостроения.
              </p>
            </div>
          </div>
        </div>
      </section>
                  <section class="features">
        <div class="container">
          <div class="row">
            <h3 class="title">Почему выбирают нас</h3>
            <div class="list-features">
              <div class="row">
              
                                                    <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="0">Оперативная работа всех служб</span></span>
                </div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="1">Собственное производство и лесозаготовка</span></span>
                </div>
                                   <div class="clearfix"></div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="2">Соблюдение сроков строительства</span></span>
                </div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="3">Многолетний опыт строительства</span></span>
                </div>
                                   <div class="clearfix"></div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="4">Контроль качества на всех этапах</span></span>
                </div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="5">Собственная сервисная служба</span></span>
                </div>
                                   <div class="clearfix"></div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="6">Официальная гарантия на все работы</span></span>
                </div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="7">Только отборный зимний лес</span></span>
                </div>
                                   <div class="clearfix"></div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="8">Веб-камеры на объекте</span></span>
                </div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="9">Мы всегда убираем за собой</span></span>
                </div>
                                   <div class="clearfix"></div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="10">Индивидуальный менеджер всегда на связи</span></span>
                </div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="11">Мы строим в кредит</span></span>
                </div>
                                   <div class="clearfix"></div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="12">Компания полного цикла</span></span>
                </div>
                                                <div class="col-xs-6 col-sm-6"><i class="icon-check"></i><span class="klm" v="13">Санитарный контроль на объекте</span></span>
                </div>
                                   <div class="clearfix"></div>
                                              </div>
            </div>
          </div>
        </div>
      </section>      
              
<section class="hits">
        <div class="container">
          <h3 class="title">Хиты продаж</h3>
          <div class="row">
                                  <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/podmoskovnye-vechera.html"><img src="images/product_images/thumbnail_images/114_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/podmoskovnye-vechera.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Подмосковные вечера»</span>, 215 м²</a>
                <hr>
                <p class="price">2<span class="thousands"></span>185<span class="thousands"></span>033 P</p>
                <p class="old-price">2 554 378 P</p>
              </div>
            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/samocvet.html"><img src="images/product_images/thumbnail_images/97_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/samocvet.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Самоцвет»</span>, 435 м²</a>
                <hr>
                <p class="price">3<span class="thousands"></span>779<span class="thousands"></span>235 P</p>
                <p class="old-price">4 857 570 P</p>
              </div>
            </div>
            <div class="clearfix"></div>                        <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/blagorodnyi.html"><img src="images/product_images/thumbnail_images/94_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/blagorodnyi.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Благородный»</span>, 215 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>982<span class="thousands"></span>314 P</p>
                <p class="old-price"></p>
              </div>
            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/voshishenie.html"><img src="images/product_images/thumbnail_images/92_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/voshishenie.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Восхищение»</span>, 205 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>969<span class="thousands"></span>815 P</p>
                <p class="old-price">2 337 491 P</p>
              </div>
            </div>
            <div class="clearfix"></div>                        <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/luchistyi.html"><img src="images/product_images/thumbnail_images/89_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/luchistyi.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Лучистый»</span>, 160 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>514<span class="thousands"></span>307 P</p>
                <p class="old-price">1 753 830 P</p>
              </div>
            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/malahit.html"><img src="images/product_images/thumbnail_images/86_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/malahit.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Малахит»</span>, 140 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>282<span class="thousands"></span>399 P</p>
                <p class="old-price">1 694 300 P</p>
              </div>
            </div>
            <div class="clearfix"></div>                        <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/korsika.html"><img src="images/product_images/thumbnail_images/85_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/korsika.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Корсика»</span>, 140 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>390<span class="thousands"></span>123 P</p>
                <p class="old-price">1 648 200 P</p>
              </div>
            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/dizhons.html"><img src="images/product_images/thumbnail_images/84_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/dizhons.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Дижонс»</span>, 135 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>397<span class="thousands"></span>595 P</p>
                <p class="old-price">1 582 590 P</p>
              </div>
            </div>
            <div class="clearfix"></div>                        <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/kampanelo.html"><img src="images/product_images/thumbnail_images/82_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/kampanelo.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Кампанело»</span>, 130 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>292<span class="thousands"></span>769 P</p>
                <p class="old-price">1 573 950 P</p>
              </div>
            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/shampan.html"><img src="images/product_images/thumbnail_images/75_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/shampan.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Шампань»</span>, 95 м²</a>
                <hr>
                <p class="price">956<span class="thousands"></span>055 P</p>
                <p class="old-price"></p>
              </div>
            </div>
            <div class="clearfix"></div>                        <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/provans.html"><img src="images/product_images/thumbnail_images/15_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/provans.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Прованс»</span>, 155 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>447<span class="thousands"></span>987 P</p>
                <p class="old-price">1 575 000 P</p>
              </div>
            </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="block-hit"><a href="http://rukladom.ru/sosnovyi-bor.html"><img src="images/product_images/thumbnail_images/14_0.jpg" class="hit-img resp"></a>
              <a href="http://rukladom.ru/sosnovyi-bor.html" class="link-hit">Дом из оцилиндрованного бревна <span>«Сосновый бор»</span>, 168 м²</a>
                <hr>
                <p class="price">1<span class="thousands"></span>919<span class="thousands"></span>775 P</p>
                <p class="old-price">1 974 763 P</p>
              </div>
            </div>
            <div class="clearfix"></div>                      </div>
        </div>
      </section>


      <section class="development">
        <div class="container">
          <div class="row">
            <div class="block-development">
              <p class="descr">
                Не нравятся дома в типовых решениях? У вас есть свое видение? Мы готовы разработать проект дома и воплотить все ваши пожелания. 
              </p>
              <button type="button" class="link-dev">Подробнее</button>
            </div>
          </div>
        </div>     
      </section>
  
            <section class="cooperation">
        <div class="container">
          <div class="row">
            <h3 class="title">Этапы сотрудничества</h3>
            <div class="block-cooperation">
              <div class="row">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                                                      <div class="col-xs-6 col-sm-4 col-md-4"><a href="/step.html#a1" class="coop coop-1">
                      <div class="number"><span>1</span></div>
                      <div class="circle"><i class="icon icon-phone"></i></div>
                      <p class="descr">Первичная консультация</p></a></div>
                                                          <div class="col-xs-6 col-sm-4 col-md-4"><a href="/step.html#a2" class="coop coop-2">
                      <div class="number"><span>2</span></div>
                      <div class="circle"><i class="icon icon-ruler"></i></div>
                      <p class="descr">Выезд на участок</p></a></div>
                                                          <div class="col-xs-6 col-sm-4 col-md-4"><a href="/step.html#a3" class="coop coop-3">
                      <div class="number"><span>3</span></div>
                      <div class="circle"><i class="icon icon-doc"></i></div>
                      <p class="descr">Заключение договора</p></a></div>
                                                          <div class="col-xs-6 col-sm-4 col-md-4"><a href="/step.html#a4" class="coop coop-4">
                      <div class="number"><span>4</span></div>
                      <div class="circle"><i class="icon icon-material"></i></div>
                      <p class="descr">Изготовление и доставка материалов</p></a></div>
                                                          <div class="col-xs-6 col-sm-4 col-md-4"><a href="/step.html#a5" class="coop coop-5">
                      <div class="number"><span>5</span></div>
                      <div class="circle"><i class="icon icon-hammer"></i></div>
                      <p class="descr">Сборка дома и технический контроль</p></a></div>
                                                          <div class="col-xs-6 col-sm-4 col-md-4"><a href="/step.html#a6" class="coop coop-6">
                      <div class="number"><span>6</span></div>
                      <div class="circle"><i class="icon icon-yeap"></i></div>
                      <p class="descr">Сдача выполненной работы</p></a></div>
                                            
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
                  <section class="offer">
        <div class="container">
          <div class="row">
            <h3 class="title">Невероятное предложение</h3>
            <hr>
            <input type="hidden" id="ac_time" value="1053865">
            <p class="descr">
             При заказе любого домокомплекта до 30 ноября 2015 г. - Гарантирован подарок!
Беседка из бревна! 
Так же сохраняем скидку до -30% на самые популярные проекты.
           8(495)150-1540
          
С 01 НОЯБРЯ 2015 НАЧИНАЕМ резервировать ЗИМНИЙ ЛЕС для строительства ваших домов в новом году. Приглашаем быть первыми!
            </p><img src="images/product_images/thumbnail_images/117_0.jpg" alt="Offer" class="offer-img resp">
            <p class="end-offer">До конца акции осталось</p>
            <div class="block-clock">
              <div class="line-days"></div>
              <div class="line-hours"></div>
              <div class="line-minutes"></div>
              <div class="clock"></div>
            </div>
          </div>
        </div>
      </section>       <section class="excursion">
        <div class="container">
          <div class="row">
            <h3 class="title" style="opacity: 0.6">Посетите индивидуальные экскурсии по строящимся объектам</h3>
            <form class="subscribe" name="send2" id="send2">
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="text" placeholder="Имя" name="name2">
              </div>
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="text" placeholder="Телефон" name="phone2">
              </div>
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="email" placeholder="Почта" name="email2">
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <input type="submit" value="Записаться" class="submit">
              </div>
            </form>
          </div>
        </div>
      </section>
           <section class="comments">
        <div class="container">
          <div class="row">
            <h3 class="title">Отзывы клиентов</h3>
            <div id="reviewSlider" class="owl-carousel owl-theme">
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/plato.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Платонов<br>Андрей</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Наша семья приняла решение жить в собственном доме практически на этапе ее основания. Жена выросла в небольшом поселке, да и мои родители всегда имели дачу. Так что жизнь в единении с природой меня всегда привлекала. Долго не могли реализовать свою мечту. То детей растили, то кризис настигал. Даже проект дома давно уже был и не только в мыслях, но и в виде картинки на бумаге (я неплохо рисую).</div>
<div style="text-align: justify;">Как-то, в очередной раз заглянув в Интернет, мое внимание привлекла компания &laquo;РУКЛАД&raquo;. На первый взгляд ничего особенного &ndash; все, как у других. Думаю, позвоню, приценюсь. Выяснилось, что у них можно построить дом, воспользовавшись системой кредитования. Мне такое предложение крайне обрадовало. В итоге уже через несколько месяцев на моем участке стоял долгожданный дом. Довольны не только мы с женой, довольны наши дети, собака и кошка. Оказывается, всем очень нравится жить на природе. <br />Спасибо большое!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/polun.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Полунин<br>Алексей</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Я и вся моя семья хотим выразить благодарность компании &laquo;РУКЛАД&raquo; за отлично изготовленный сруб нашего загородного дома. В Интернете мы нашли множество всевозможных строительных фирм, однако свой выбор мы отдали этой компании. Что нас привлекло? Например, профессиональное и грамотное отношение к заказчику, внимание и вежливость. Замечу, что качеством строительных материалов остался доволен. А бригада монтажников &ndash; это, как говорят в таком случае мастера на &laquo;все руки&raquo;, настоящие профессионалы!</div>
<div style="text-align: left;">Свою работу делали аккуратно, быстро и слаженно. Нужны нам пояснения &ndash; все рассказывали доступным языком, помогали советом. В установленные сроки наш дом стоял и, скажу честно, очень нам нравился.</div>
<div style="text-align: left;">Компания &laquo;РУКЛАД&raquo; желаю огромных профессиональных успехов. Буду рекомендовать ее услуги друзьям и знакомым!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/markelov.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Маркелов<br>Виктор</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Мы с женой тщательно выбирали компанию, которой могли бы доверить строительство нашей дачи. Были на специализированной выставке, на некоторых стройках, заглядывали в Интернет. Именно здесь мы нашли того, кому доверили это ответственное дело &ndash; компанию &laquo;РУКЛАД&raquo;. Проектов на их сайте было много, но нам понравились два из них &ndash; недорого, красиво, т.е. то, что нам нужно. Результат был следующий: совместно с архитекторами компании мы нарисовали проект своего дачного домика.</div>
<div style="text-align: left;">Дом был собран очень быстро, а главное аккуратно. Строители дали нам рекомендации как ухаживать за нашей дачей. Понравилось и то, что цены на сайте такие, как на самом деле в реальности и доплат никаких не потребовалось. Спасибо за домик нашей мечты!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/xarlamov.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Харламов<br>Валерий</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Недавно я заключил договор на строительство коттеджа из цилиндрического бруса с компанией &laquo;РУКЛАД&raquo;. От сотрудничества остались самые позитивные впечатления. Всего полтора месяца и дом уже стоял на моем участке, практически на пустой территории.<br />В прошлом я строитель, в этой сфере проработал около 30 лет. Однако скажу, что с такими профи встретился впервые. Качество, вежливое отношение, культура на производстве &ndash; все это делает фирму &laquo;РУКЛАД&raquo; одной из лучших. <br />Большое-большое спасибо!!! Так держать у вас для этого есть все необходимое!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/oman.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Омановас<br>Дан</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Очень хочу выразить великую благодарность фирме &laquo;РУКЛАД&raquo; за качественно реализованную работу &ndash; строительство моего дома мечты. Остался доволен и работой, и в целом всем сотрудничеством. Вежливое отношение при проектировании, были выслушаны все наши пожелания и, порой, бредовые идеи. Грамотные советы были весьма кстати. Плюс ко всему быстрая работа по сборке сруба. Бригада рабочих &ndash; это не только настоящие профессионалы, но и просто замечательные люди. Огромное спасибо!</div>
<div style="text-align: left;"><br />Желаю компании &laquo;РУКЛАД&raquo; дальнейшего преуспевания и много-много заказчиков!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/ekat.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Наумкина<br>Екатерина</h5>
                    <hr>
                    <p class="comment"><p style="text-align: left;">Решили с мужем построить хороший дом для постоянного проживания. Участок у нас был куплен давно. Перебрали массу всевозможных вариантов. Но все-таки сошлись во мнении, что хочется дом из дерева. Друзья нам порекомендовали строить из клееного бруса. Съездили в компанию &laquo;РУКЛАД&raquo;, поговорили. Нам все понравилось &ndash; и отношение, и расценки, сам брус и по срокам устраивало. Заказали &ndash; и остались крайне довольны. Дом получился просто чудо, как хорош. Все о чем мы мечтали: красиво, удобно, экологически чисто.<br /> Хочется сказать: &laquo;Огромное спасибо!&raquo;.</p></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/pentaygin.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Пентягин<br>Алексей</h5>
                    <hr>
                    <p class="comment"><p>&nbsp;В свои 40 с небольшим лет решил, что самое время построить собственный дом. И пусть он будет деревянный. По совету знакомых обратился в компанию &laquo;РУКЛАД&raquo;. Сказали, что работают давно и строят качественно. Приехал в офис, поговорили. Скажу честно, вопросов было много. И меня интересовали не только цены. Мне дали грамотные пояснения по каждому. Сделали для моего дома индивидуальный проект, который меня на 100% устроил, заключил договор.<br />Теперь нужно было подождать, примерно месяца два. За это время сам соорудил фундамент. Точно в оговоренный срок привезли бревна, их качество было хорошее. Складывала дом бригада из 4-х человек. Вопросов к ним у меня не было. Хорошо и слаженно работали. Молодцы!<br />&nbsp;Подводя итог, могу сказать, что домом доволен. Теперь и сам советую: стройте дом ТОЛЬКО с компанией &laquo;РУКЛАД&raquo;!</p></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/maxmudov.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Махмудов<br>Сергей</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">В прошлом году принял решение строить дом. Долго изучал материалы для строительства. Решил строить из оцилиндрованного бревна. По совету соседей (они у них строили) обратился в компанию &laquo;РУКЛАД&raquo;. Связался с ними и описал задачу. По моим словам был выполнен проект. Когда была озвучена цена, я понял, что это то что нужно. Тем более качество леса не вызывает сомнений. Он из Коми, северного региона, там лучший материал.<br /> Решил посмотреть на уже выстроенные дома. Их качество меня удовлетворило. Заключил договор. Как и обещали, спустя 1,5 месяца привезли бревна, выстроили красивый дом, который не перестает меня радовать. Спасибо!</div></p>
                  </div>
                </div>
              </div>
                            <div class="content">
                <div class="row">
                  <div class="col-xs-2 col-sm-2 col-md-2"><img src="/images/reviews_main/selezneva.jpg" alt="Autor" class="autor-img resp"></div>
                  <div class="col-xs-10 col-sm-10 col-md-10">
                    <h5 class="autor-name">Селезнева<br>Любовь</h5>
                    <hr>
                    <p class="comment"><div style="text-align: left;">Я и мой супруг очень скрупулёзно и долго выбирали организацию, которая бы построила нам и нашим детям качественный деревянный дом. Скажу честно, не сразу, но все-таки свои предпочтения мы отдали компании &laquo;РУКЛАД&raquo;. Все понравилось: и качество материалов, и даже уровень цен.</div>
<div style="text-align: left;">Поначалу немного волновались, все-таки внесли предоплату неизвестной компании. Однако все опасения улетучились, когда точно в срок на нашем участке появилась техника со всем необходимым материалом. В результате мы получили свой собственный дом очень быстро. Всего месяц бригаде потребовалось чтобы сделать все самым лучшим образом. Сотрудничеством я и мой муж остались довольны. В самом ближайшем будущем планируем заказать у них еще и баню. Спасибо Вам!</div></p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
      <section class="discount">
        <div class="container">
          <div class="row">
            <!-- Если файл добавлен, добавить класс active--><i class="icon-status" style="display:none"></i>
            <i class="icon-status2" style="display:none"></i>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <p class="descr">Получили расчет своего дома от другой компании? Пришлите его нам и получите гарантированную скидку <span> 15% </span> при неизменно высоком качестве. </p>
            </div>
             <form id="comform" enctype="multipart/form-data" action="/page.php?page=mail::send3" target="rFrame" method="post" id="omsk">
             <input type="hidden" name="name13" value=""> 
             <input type="hidden" name="phone13" value=""> 
             <input type="hidden" name="time13" value=""> 
              <div class="col-xs-12 col-sm-3 col-md-3">
              
              <a class="upload-link a1"><i class="icon-clip2"></i><span class="upload-text">Прикрепить файл</span>
                  <input id="fa1" type="file" name="asc[]" class="upload-inp">
             </a>
             <a class="upload-link a2" style="display:none"><i class="icon-clip"></i><span class="upload-text">Прикрепить еще файл</span>
                  <input id="fa2" type="file" name="asc[]" class="upload-inp">
            </a>
            <a class="upload-link a3" style="display:none"><i class="icon-clip"></i><span class="upload-text">Прикрепить еще файл</span>
                  <input id="fa3" type="file" name="asc[]" class="upload-inp">
            </a>            
            <a class="upload-link a4" style="display:none"><i class="icon-clip3"></i><span class="upload-text">Прикреплено 3 файла</span></a>
                     
                  </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <!-- Если файл добавлен, добавить класс active-->
                <input type="submit" class="submit" value="Отправить">
              </div>
            </form> 
            <iframe id="rFrame" name="rFrame" style="display: none"> </iframe> 
          </div>
        </div>
      </section>
	

      <section class="news">
        <div class="container">
          <div class="row"><a href="http://rukladom.ru/news.php" class="link-all-news">Новости</a>
            <div id="newsSlider" class="owl-carousel owl-theme">
                             <div class="content"><span class="date-news">20 Сентября 2015</span>
                <div class="clearfix"></div><a href="http://rukladom.ru/news/9mezhdunarodnaya-vystavka-derevyannyi-dom.html" class="link-news">ХI Международная выставка «ДЕРЕВЯННЫЙ ДОМ»</a>
              </div>
                            <div class="content"><span class="date-news">15 Августа 2015</span>
                <div class="clearfix"></div><a href="http://rukladom.ru/news/norvezhskie-turisticheskie-hizhiny.html" class="link-news">Норвежские туристические хижины</a>
              </div>
                          </div>
          </div>
        </div>
       </section>  
      <section class="subscription">
        <div class="container">
          <div class="row">
            <form method="post" name="see_mail" id="mail_send">
              <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="block-inputs">
                  <input type="email" name="email" placeholder="Почта" class="sub-inp">
                  <div class="checboxes">
                    <input id="checkbox1" type="checkbox" name="check1" class="checkbox">
                    <label for="checkbox1" class="check-label"></label>
                    <label for="checkbox1" class="label-name">Новости</label>
                    <input id="checkbox2" type="checkbox" name="check2" checked class="checkbox">
                    <label for="checkbox2" class="check-label"></label>
                    <label for="checkbox2" class="label-name">Акции</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <input type="submit" value="Подписаться" class="submit">
              </div>
            </form>
          </div>
        </div>
      </section>