{foreach name=aussen item=module_data from=$module_content}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="block-product"><a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="Product" class="img resp"></a>
                      {if $module_data.sh}<div class="meter"> <span>{$module_data.sh} м&sup2</span></div>{/if}<a href="{$module_data.PRODUCTS_LINK}" class="link">{$module_data.PRODUCTS_NAME}</a><span class="tehnologi">{$module_data.mk}</span>
                      <hr>
                      <p class="price">{$module_data.PRODUCTS_PRICE}</p>
                      <p class="old-price">{$module_data.PRODUCTS_PRICE0}&nbsp;</p>
                    </div>
                  </div>
{/foreach}