{config_load file="$language/dom.conf" section="main"}

<script>
   param_str = '{$param_str}';
   param_sort = 'price';
   dem = 'desc';
   param_max = '{$param_max}';
   param_min = '{$param_min}';
   param_max2 = '{$param_max2}';
   param_min2 = '{$param_min2}';
   param_start = '{$param_start}';
</script>
<center id="load" style="position:absolute; top:25rem;left:50%;margin-left: -15px;display: none; "><img style="width: 30px;" src="images/39.gif"></center>
  <aside class="sidebar-right" style="display:none">
                <div class="block-filter">
                  <button class="button-filter" style="cursor:pointer;"><span>{#f2#}</span><a href="#" class="link-dropdown"><i class="icon-filter"></i></a></button>
                  <ul class="list-filter active">
                    <li><a href="#" id="price_sort"{if $param_sort == ''} class="act"{/if}>{#f2#}</a></li>
                    <li><a href="#" id="price_tech">{#f3#}</a></li>
                    <li><a href="#" id="price_s">{#f4#}</a></li>
                  </ul>
                </div>  
              </aside>
   <aside class="sidebar-left hi" style="">
   <input type="hidden" name="min" val="{$min}">
   <input type="hidden" name="max" val="{$max}">
                <div class="block-price">
                  <div class="col-xs-12 col-sm-6 col-md-12">
                    <h4 class="title-block">{#f5#}<span>млн Р</span></h4>
                    <div class="block-inputs">
                      <input type="text" class="price-from"><span class="line">
                        <hr></span>
                      <input type="text" class="price-to">
                      <input id="range-price" type="text">
                    </div>
                  </div>
                </div>
                <div class="block-area">
                  <div class="col-xs-12 col-sm-6 col-md-12" m="0">
                    <h4 class="title-block">{#f6#}<span>м&sup2</span></h4>
                    <div class="block-inputs" v="a21">
                      <input type="text" class="area-from" val="a21_1" value="0"><span class="line">
                        <hr></span>
                      <input type="text" class="area-to">
                      <input id="range-area" type="text" val="a21_2" value="0">
                    </div>
                  </div>
                </div>
                <div class="block-storeys">
                  <div class="col-xs-12 col-sm-6 col-md-12" m="0">
                    <h4 class="title-block">{#f7#}</h4>
                    <div class="row" v="a16">
                      <div class="col-xs-2 col-sm-4 col-md-4"><a href="#" class="option-link disable dd" val="1" val2="1">1</a></div>
                      <div class="col-xs-2 col-sm-4 col-md-4"><a href="#" class="option-link disable dd" val="2" val2="2">2</a></div>
                      <div class="col-xs-2 col-sm-4 col-md-4"><a href="#" class="option-link disable dd" val="3" val2="{#f26#}">{#f26#}</a></div>
                      <div class="col-xs-6 col-sm-12 col-md-12"><a href="#" class="option-link disable dd" val="{#f8#}" val2="{#f8#}">{#f8#}</a></div>
                    </div>
                  </div>
                </div>
                <div class="block-checked">
                  <div class="col-xs-12 col-sm-6 col-md-12" m="0">
                    <h4 class="title-block">{#f11#}</h4>
                    <div class="row" v="a22">
                      <input id="checkbox1" type="checkbox" name="check1" class="checkbox dd" val="a22_{#f12#}" val2="{#f12#}">
                      <label for="checkbox1" class="check-label"></label>
                      <label for="checkbox1" class="label-name">{#f12#}</label>
                      <div class="clearfix"></div>
                      <input id="checkbox2" type="checkbox" name="check2" class="checkbox dd" val="a22_{#f13#}" val2="{#f13#}">
                      <label for="checkbox2" class="check-label"></label>
                      <label for="checkbox2" class="label-name">{#f13#}</label>
                      <div class="clearfix"></div>
                      <input id="checkbox3" type="checkbox" name="check3" class="checkbox dd" val="a22_{#f14#}" val2="{#f14#}">
                      <label for="checkbox3" class="check-label"></label>
                      <label for="checkbox3" class="label-name">{#f14#}</label>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
                <button class="reset">{#f9#}</button>
                <button class="ready" {php} if ($_GET['cat'] !=1) echo 'onclick="go_cat();return false;"';{/php}>{#f10#} <span id="param_count">0</span></button>
              </aside>