{config_load file="$language/dom.conf" section="main"}   
<form name="send10">
 <section class="about-company">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 at1">
              <h2 class="title" style="padding-left:5rem;">{#f16#}</h2>
<div class="clearfix"></div> 
<br>
<table border="0" cellpadding="7" width="100%">
{php}$i=1;$s=0;{/php}
{foreach name=aussen item=module_data from=$module_content}
{php}

if ($i == 1)
{
  echo '<tr>';
}
 echo '<td valign="top" width="33.3%">';
 $k = 0;
 {/php}<div class="sss">{$module_data.rat_title}</div>  <hr class="m">
   {foreach name=aussen item=val from=$module_data.rat_text1}
   
   <div class="radio-element sh">
<input id="radio{php}echo $s.'_'.$k.'';{/php}" class="radio" type="radio" {php} if ($k==0) echo 'checked="checked"';{/php} name="{php}echo 'a'.'['.$s.']';{/php}" value="{php}echo $k;{/php}" val="0">
<label class="radio-label" for="radio{php}echo $s.'_'.$k.'';{/php}"></label>
<label class="label-name" for="radio{php}echo $s.'_'.$k.'';{/php}">{$val}</label>
</div>
<div class="clearfix"></div>
{php}$k++;{/php}
   {/foreach}
 {php}
 echo '</td>';

 if ($i == 3)
 { 
    echo '</tr>';
    $i=1;
 }
 else
 {
    $i++;
 }
 
 
 $s++;
{/php}




{/foreach}
</tr>
</table>
  </form> 

 </div>
 </div></div>
 </section>
   <section class="ss1">
        <div class="container">
          <div class="row">
            <form class="subscribe" name="send9" id="send9">
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="text" placeholder="{#head_mail_t5#}" name="name9">
              </div>
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="text" placeholder="{#head_mail_t6#}" name="phone9">
              </div>
              <div class="col-xs-4 col-sm-3 col-md-3">
                <input type="email" placeholder="{#head_mail_t1#}" name="email9">
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3">
                <input type="submit" value="{#file_button#}" class="submit">
              </div>
            </form>
          </div>
        </div>
      </section>