html, body {margin: 0; height: 100%}


@media (min-width: 768px) and (max-width: 990px){
.prev-slide .block-options .block-storeys .option-link1{
      float:left;
    width:145%;
}

.value{
    margin-top: 17px;
}

.sq{
    margin-top: 10px;
}

}

@media (max-width: 767px) { 


.value1{
    margin-top: 17px;
}
}

.buttonMenu{
   padding: 0 .5rem;
}


/*  - ---------------------------------  */

header .middle-header .header-nav {
    display: block;
}
      header .top-header {
    float:left;
    width:15%;
    min-height:9rem;
    background:#efefef;
    text-align:center;
}

@media only screen and (max-width:1130px) {
    header .top-header {
    width:20%;
}

}@media only screen and (max-width:700px) {
    header .top-header {
    background:#000;
    width:30%;
}

}@media only screen and (max-width:500px) {
    header .top-header {
    width:50%;
}

}header .top-header .icon-logo {
    display:inline-block;
    background-image:url(tpl/images/sprites/sprite.png);
    background-position:-106px 0;
    width:91px;
    height:61px;
    margin-top:1.3rem;
}

@media only screen and (max-width:700px) {
    header .top-header .icon-logo {
    background-image:url(tpl/images/sprites/sprite.png);
    background-position:0 0;
    width:91px;
    height:61px;
}

}header .middle-header {
    float:left;
    width:55%;
    min-height:9rem;
    background:#000;
}

@media only screen and (max-width:1600px) {
    header .middle-header {
    width:60%;
}

}

@media only screen and (max-width:1170px) {
    header .middle-header {
    width:45%;
    text-align:center;
}
}

@media only screen and (max-width:1130px) {
    header .middle-header {
    width:40%;
    text-align:center;
}
}

@media only screen and (max-width:850px) {
    header .middle-header {
    width:30%;
}

}@media only screen and (max-width:700px) {
    header .middle-header {
    width:70%;
}

}@media only screen and (max-width:500px) {
    header .middle-header {
    width:50%;
}

}header .middle-header .icon-menu {
    display:none;
    float:left;
    width:4rem;
    margin:3.2rem 3rem 0;
}

@media only screen and (max-width:1170px) {
    header .middle-header .icon-menu {
    float:none;
    display:inline-block;
    margin-left:0;
    margin-right:2rem;
}

}@media only screen and (max-width:500px) {
    header .middle-header .icon-menu {
    margin-right:0;
}

}header .middle-header .icon-menu:hover .icon-line {
    background:#fff;
}

header .middle-header .icon-menu .icon-line {
    display:block;
    width:100%;
    height:.2rem;
    background:#ffca00;
    margin-bottom:1rem;
    -webkit-transition:all 250ms ease-in-out;
    transition:all 250ms ease-in-out;
}

@media only screen and (max-width:1170px) {
    header .middle-header .header-nav {
    display:none;
}

}header .middle-header .header-nav ul {
    float:left;
    margin-top:3.3rem;
    margin-left:6rem;
}

header .middle-header .header-nav li {
    display:inline-block;
    float:left;
    margin-right:3rem;
}

header .middle-header .header-nav a {
    font-size:1.4rem;
    font-weight:500;
    color:#fff;
}

header .middle-header .header-nav a.active, header .middle-header .header-nav a:hover {
    color:#ffca00;
}

header .middle-header hr {
    display:block;
    float:left;
    border:none;
    width:.1rem;
    height:3rem;
    background:#4d585f;
    margin-right:3rem;
    margin-top:3rem;
}

header .middle-header .block-language {
    float:left;
    margin-top:3.3rem;
}

header .middle-header .block-language .lang {
    font-size:1.4rem;
    font-weight:500;
    color:#fff;
    margin-right:1rem;
}

@media only screen and (max-width:1170px) {
    header .middle-header hr {
    display:none;
}

header .middle-header .block-language {
    float:none;
    display:inline-block;
    margin-top:0;
    vertical-align:18px;
}

header .middle-header .block-language .lang {
    margin-left:1rem;
    margin-right:0;
}

}header .middle-header .block-language .active, header .middle-header .block-language .lang:hover {
    color:#ffca00;
}

@media only screen and (max-width:1170px) and (max-width:500px) {
    header .middle-header .block-language {
    display:none;
}

}header .bottom-header {
    float:left;
    width:30%;
    min-height:9rem;
    background:#000;
}

@media only screen and (max-width:1600px) {
    header .bottom-header {
    width:25%;
}

}@media only screen and (max-width:1170px) {
    header .bottom-header {
    width:40%;
    text-align:center;
}

}header .bottom-header .block-phone {
    float:right;
    margin-top:2.1rem;
    margin-right:3rem;
}

@media only screen and (max-width:1170px) {
    header .bottom-header .block-phone {
    float:left;
    display:inline-block;
}

}@media only screen and (max-width:850px) {
    header .bottom-header {
    width:50%;
}

header .bottom-header .block-phone {
    float:none;
    margin:2.1rem 0 0 2rem;
}

}@media only screen and (max-width:700px) {
    header .bottom-header {
    width:100%;
    background:#111;
}

header .bottom-header .block-phone {
    margin:0 5rem;
}

}@media only screen and (max-width:550px) {
    header .bottom-header .block-phone {
    margin:0 3rem;
}

}@media only screen and (max-width:450px) {
    header .bottom-header .block-phone {
    margin:0 2rem;
}

}@media only screen and (max-width:380px) {
    header .bottom-header .block-phone {
    margin:0 0 0 1rem;
}

}header .bottom-header .block-phone .phone {
    font-size:1.4rem;
    font-weight:500;
    color:#fff;
    margin-top:0;
    margin-bottom:.2rem;
}

header .bottom-header .block-phone .phone span {
    font-size:2rem;
    font-weight:400;
    color:#ffca00;
}

header .bottom-header .block-phone .order-phone {
    display:block;
    float:right;
    font-size:1.3rem;
    font-weight:500;
    color:#fff;
    border-bottom:1px dashed #6b787e;
}

header .bottom-header .block-phone .order-phone:hover {
    color:#ffca00;
    border-bottom:1px dashed rgba(255, 202, 0, .4);
}

header .bottom-header .contact {
    float:right;
    font-size:1.4rem;
    font-weight:500;
    color:#fff;
    margin-right:3rem;
    margin-top:3rem;
}

@media only screen and (max-width:850px) {
    header .bottom-header .contact {
    float:none;
    margin:3rem 2rem 0 0;
    vertical-align:-10px;
}

}@media only screen and (max-width:700px) {
    header .bottom-header .contact {
    display:inline-block;
    float:none;
    margin:3rem 5rem;
}

}@media only screen and (max-width:550px) {
    header .bottom-header .contact {
    margin:3rem;
}

}@media only screen and (max-width:450px) {
    header .bottom-header .contact {
    margin:3rem 2rem;
}

}@media only screen and (max-width:380px) {
    header .bottom-header .contact {
    margin:3rem 1rem 3rem 0;
}

}header .bottom-header .contact:hover {
    color:#ffca00;
}

header .bottom-header .contact i.icon-contact {
    display:inline-block;
    background-image:url(tpl/images/sprites/sprite.png);
    background-position:-271px -220px;
    width:22px;
    height:30px;
    vertical-align:-9px;
    margin-right:1rem;
}

/* ------------------------------------ */

.thousands {padding-left:5px;}
main .offer .block-clock .clock .seconds .flip-clock-label {
    right: -8rem;
    top: 7.5rem;
}

main .discount .icon-status2 {
    background-position: -169px -271px;
    left: 6rem;
    margin-top: -1.5rem;
    position: absolute;
    top: 50%;
}

main .discount .icon-status2 {
    background-image: url("tpl/images/sprites/sprite.png");
    height: 30px;
    width: 14px;
}


div.list-features .col-xs-6:hover {
    cursor:pointer;  
}



main .catalog .sidebar-right .list-filter a.act {
    font-weight: bold;   
}


main .am1 {
    display: none;
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $green;
    background: rgba(0,0,0,0.95);
    overflow: auto;
}
main .am1 .row {
    margin: 0;
}
main .am1 .icon-cross {
    float: right;
    display: block;
    margin-top: 2rem;
    margin-right: 2rem;
    background-image: url("tpl/images/sprites/sprite.png");
    background-position: -326px 0px;
    width: 20px;
    height: 20px;
}
@media only screen and (max-width: 767px) {
    main .am1 .icon-cross {
    margin-top: 4rem;
    margin-right: 4rem;
}
}
main .am1 .icon-cross:hover {
    background-image: url("tpl/images/sprites/sprite.png");
    background-position: -326px -140px;
    width: 20px;
    height: 20px;
}
main .am1 .modal {
    float: left;
    width: 100%;
    height: 100%;
    padding: 8rem 0;
}
main .am1 .modal .row {
    margin: 0;
}
@media only screen and (max-width: 767px) {
    main .am1 .modal .row {
    margin: 0 -2rem;
}
}
main .am1 .modal .title-modal {
    text-align: center;
    color: #ffcb00;
    margin-top: 12rem;
    margin-bottom: 4rem;
}
@media only screen and (max-width: 767px) {
    main .am1 .modal .title-modal {
    margin-top: 0;
}
}
main .am1 .modal label {
    float: left;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}
main .am1 .modal input,
main .am1 .modal textarea {
    float: left;
    width: 100%;
    height: 5rem;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,0.6);
    color: #ffcb00;
    padding: 0 2rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
main .am1 .modal input:hover,
main .am1 .modal textarea:hover {
    border: 1px solid #fff;
}
main .am1 .modal input:focus,
main .am1 .modal textarea:focus {
    border: 1px solid #fff;
}
main .am1 .modal input.valid,
main .am1 .modal textarea.valid {
    border: 1px solid #ffd000;
}
main .am1 .modal input.valid:hover,
main .am1 .modal textarea.valid:hover {
    border: 1px solid #fff;
}
main .am1 .modal input.valid:focus,
main .am1 .modal textarea.valid:focus {
    border: 1px solid #ffd000;
}
main .am1 .modal input.error,
main .am1 .modal textarea.error {
    border: 1px solid rgba(255,0,0,0.6);
}
main .am1 .modal input.error:hover,
main .am1 .modal textarea.error:hover {
    border: 1px solid #f00;
}
main .am1 .modal input.error:focus,
main .am1 .modal textarea.error:focus {
    border: 1px solid #f00;
}
main .am1 .modal textarea {
    height: 9rem;
    padding: 1.5rem 2rem;
}
main .am1 .modal .inner-hr {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}
main .am1 .modal .inner-hr hr {
    display: inline-block;
    width: 5rem;
    height: 0.2rem;
    background: #ffd000;
    border: none;
    margin: 4rem 0 3.5rem 0;
}
main .am1 .modal .order {
    display: block;
    width: 20rem;
    height: 5rem;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    background: #ffcf00;
    margin: 0 auto;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
@media only screen and (max-width: 767px) {
    main .am1 .modal .order {
    width: 100%;
    margin: 0;
}
}
main .am1 .modal .order:hover {
    background: #fff;
}


.at1 .radio-label {
    background-position: -35px -178px;
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 20px;
    width: 20px;
}
.at1 .radio:checked + .radio-label {
    background-image: url("tpl/images/sprites/sprite2.png");
    background-position: 0 -178px;
    height: 20px;
    width: 20px;
}
.at1 .label-name {
    cursor: pointer;
    float: left;
    font-size: 1.5rem;
    margin-top: 0.3rem;
    color:#858585;
    width: 80%;
}

@media only screen and (max-width: 800px) {
    .at1 .label-name {
    font-size: 1.1rem;
}
}

.at1 .radio-label {
    background-image: url("tpl/images/sprites/sprite2.png");
    margin-right: 1rem;
}

.at1 .radio {display:none}

.at1 .radio-element {
    float: left;
    margin-bottom: 1rem;
    width: 100%;
}

.at1 .label-b {
    color:#333333;
}


main .ss1 {
    background: #ffce00 none repeat scroll 0 0;
    float: left;
    padding: 4rem 0;
    text-align: center;
    width: 100%;
}
main .ss1 .row {
    margin: 0 -0.5rem;
}
@media only screen and (max-width: 767px) {
    main .ss1 .row {
    margin: 0 1.5rem;
}
}
main .ss1 .row .col-md-3 {
    padding: 0 0.5rem;
}
main .ss1 .title {
    line-height: 3.5rem;
    margin: 0;
}

main .ss1 .subscribe input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid rgba(51, 51, 51, 0.6);
    border-radius: 2px;
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
    height: 5rem;
    padding: 0 1.5rem;
    transition: all 250ms ease-in-out 0s;
    width: 100%;
}
main .ss1 .subscribe input:hover {
    border: 1px solid #333;
}
main .ss1 .subscribe .submit {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    transition: all 250ms ease-in-out 0s;
}
@media only screen and (max-width: 767px) {
    main .ss1 .subscribe .submit {
    margin-top: 1rem;
}
}
main .ss1 .subscribe .submit:hover {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #333;
}

main .about-company hr.m {
    background: #ffd000 none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    float: left;
    height: 0.2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    width: 5rem;
}

.sss {
    clear: left;
    padding-top:5rem;
}


header .bottom-header .block-phone .kl {
    border-bottom: 1px dashed #6b787e;
    color: #fff;
    display: block;
    float: right;
    font-size: 1.3rem;
    font-weight: 500;
}


main .am2 {
    display: none;
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $green;
    background: rgba(0,0,0,0.95);
    overflow: auto;
}
main .am2 .row {
    margin: 0;
}
main .am2 .icon-cross {
    float: right;
    display: block;
    margin-top: 2rem;
    margin-right: 2rem;
    background-image: url("tpl/images/sprites/sprite.png");
    background-position: -326px 0px;
    width: 20px;
    height: 20px;
}
@media only screen and (max-width: 767px) {
    main .am2 .icon-cross {
    margin-top: 4rem;
    margin-right: 4rem;
}
}
main .am2 .icon-cross:hover {
    background-image: url("tpl/images/sprites/sprite.png");
    background-position: -326px -140px;
    width: 20px;
    height: 20px;
}
main .am2 .modal {
    float: left;
    width: 100%;
    height: 100%;
    padding: 8rem 0;
}
main .am2 .modal .row {
    margin: 0;
}
@media only screen and (max-width: 767px) {
    main .am2 .modal .row {
    margin: 0 -2rem;
}
}
main .am2 .modal .title-modal {
    text-align: center;
    color: #ffcb00;
    margin-top: 12rem;
    margin-bottom: 4rem;
}
@media only screen and (max-width: 767px) {
    main .am2 .modal .title-modal {
    margin-top: 0;
}
}
main .am2 .modal label {
    float: left;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}
main .am2 .modal input,
main .am2 .modal textarea {
    float: left;
    width: 100%;
    height: 5rem;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,0.6);
    color: #ffcb00;
    padding: 0 2rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
main .am2 .modal input:hover,
main .am2 .modal textarea:hover {
    border: 1px solid #fff;
}
main .am2 .modal input:focus,
main .am2 .modal textarea:focus {
    border: 1px solid #fff;
}
main .am2 .modal input.valid,
main .am2 .modal textarea.valid {
    border: 1px solid #ffd000;
}
main .am2 .modal input.valid:hover,
main .am2 .modal textarea.valid:hover {
    border: 1px solid #fff;
}
main .am2 .modal input.valid:focus,
main .am2 .modal textarea.valid:focus {
    border: 1px solid #ffd000;
}
main .am2 .modal input.error,
main .am2 .modal textarea.error {
    border: 1px solid rgba(255,0,0,0.6);
}
main .am2 .modal input.error:hover,
main .am2 .modal textarea.error:hover {
    border: 1px solid #f00;
}
main .am2 .modal input.error:focus,
main .am2 .modal textarea.error:focus {
    border: 1px solid #f00;
}
main .am2 .modal textarea {
    height: 9rem;
    padding: 1.5rem 2rem;
}
main .am2 .modal .inner-hr {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}
main .am2 .modal .inner-hr hr {
    display: inline-block;
    width: 5rem;
    height: 0.2rem;
    background: #ffd000;
    border: none;
    margin: 4rem 0 3.5rem 0;
}
main .am2 .modal .order {
    display: block;
    width: 20rem;
    height: 5rem;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    background: #ffcf00;
    margin: 0 auto;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
@media only screen and (max-width: 767px) {
    main .am2 .modal .order {
    width: 100%;
    margin: 0;
}
}
main .am2 .modal .order:hover {
    background: #fff;
}


main .discount .icon-clip {
    background-position: -181px -76px;
    display: inline-block;
    margin-right: 1rem;
}

main .discount .icon-clip2 {
    background-position: -169px -271px;
    display: inline-block;
    margin-right: 1rem;
}

main .discount .icon-clip3 {
    background-position: -198px -271px;
    display: inline-block;
    margin-right: 1rem;
}


main .discount .icon-clip,.icon-clip2,.icon-clip3,  main .discount .icon-status, main .discount .icon-status.active {
    background-image: url("tpl/images/sprites/sprite.png");
    height: 30px;
    width: 14px;
}



/* global */
.g-hidden { display: none; }
.g-line { zoom: 1; }
.g-line:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* modal */
.b-modal { position: relative;}
.b-modal_close { position: absolute; width:20px; height:20px; font-size:13px; right:19px; top:15px; color: #818181; cursor: pointer;  background:url(tpl/images/close.png) no-repeat; z-index:1000;}
.b-modal_close:hover { color:#000;opacity: 0.5;}

/* modal */
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; -moz-border-radius: 10px;  -webkit-border-radius: 10px;  -khtml-border-radius: 10px;  border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000; }
.arcticmodal-container_i{}
.arcticmodal-container_i2{padding-top:0; padding-bottom:0;}
.arcticmodal-overlay{background:#fff !important; opacity:0.9 !important;}


#gallery{ width:900px; height:655px;}
#gallery .arcticmodal-close{font-size:20px;}

#slider{width:900px; height:655px; margin:0 auto;}
#slider .slide{position:relative; z-index:301; width:900px !important; height:600px; text-align:center; padding-top:10px;}
#slider .slidesjs-container{}
#slider .slide span{width:900px; height:600px; display:table-cell; vertical-align:middle; text-align:center;}
#slider .slide img{width:auto; height:auto; max-width:900px; max-height:600px;}
#slider .slidesjs-previous{position:absolute; overflow:hidden; width:20px; height:0; padding-top:38px; cursor:pointer; top:50%; margin-top:-19px; left: 15%;; background:url(tpl/images/sprites/sprite3.png) no-repeat 0 -114px; z-index:5000;}
#slider .slidesjs-previous:hover{background:url(tpl/images/sprites/sprite3.png) no-repeat 0 -160px;}
#slider .slidesjs-next{position:absolute; overflow:hidden; width:20px; height:0; padding-top:38px; cursor:pointer; top:50%; margin-top:-19px; right:15%; background:url(tpl/images/sprites/sprite3.png) no-repeat -27px -114px; z-index:5000;}
#slider .slidesjs-next:hover{background:url(tpl/images/sprites/sprite3.png) no-repeat -27px -160px;}
#slider .slidesjs-pagination{width:100%; height:37px; margin-top:-70px; padding:0; display:block; z-index:401; text-align:center;}
#slider .slidesjs-pagination li{display:inline-block; vertical-align:top; margin: 0 10px;}
#slider .slidesjs-pagination li a{display:block; width:10px; height:0; padding-top:10px; border-radius:5px; background-color:#333333; overflow:hidden; position:relative;z-index: 1000000;}
#slider .slidesjs-pagination li a:hover{background-color:#333333;}
#slider .slidesjs-pagination li a.active{background-color:#ffcd00;}

.gallery_button {cursor:pointer}



main .am3 {
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $green;
    background: rgba(0,0,0,0.95);
    overflow: auto;
}
main .am3 .row {
    margin: 0;
}
main .am3 .icon-cross {
    float: right;
    display: block;
    margin-top: 2rem;
    margin-right: 2rem;
    background-image: url("tpl/images/sprites/sprite.png");
    background-position: -326px 0px;
    width: 20px;
    height: 20px;
}
@media only screen and (max-width: 767px) {
    main .am3 .icon-cross {
    margin-top: 4rem;
    margin-right: 4rem;
}
}
main .am3 .icon-cross:hover {
    background-image: url("tpl/images/sprites/sprite.png");
    background-position: -326px -140px;
    width: 20px;
    height: 20px;
}
main .am3 .modal {
    float: left;
    width: 100%;
    height: 100%;
    padding: 8rem 0;
}
main .am3 .modal .row {
    margin: 0;
}
@media only screen and (max-width: 767px) {
    main .am3 .modal .row {
    margin: 0 -2rem;
}
}
main .am3 .modal .title-modal {
    text-align: center;
    color: #ffcb00;
    margin-top: 12rem;
    margin-bottom: 4rem;
}
@media only screen and (max-width: 767px) {
    main .am3 .modal .title-modal {
    margin-top: 0;
}
}
main .am3 .modal label {
    float: left;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
}
main .am3 .modal input,
main .am3 .modal textarea {
    float: left;
    width: 100%;
    height: 5rem;
    background: transparent;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid rgba(255,255,255,0.6);
    color: #ffcb00;
    padding: 0 2rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
main .am3 .modal input:hover,
main .am3 .modal textarea:hover {
    border: 1px solid #fff;
}
main .am3 .modal input:focus,
main .am3 .modal textarea:focus {
    border: 1px solid #fff;
}
main .am3 .modal input.valid,
main .am3 .modal textarea.valid {
    border: 1px solid #ffd000;
}
main .am3 .modal input.valid:hover,
main .am3 .modal textarea.valid:hover {
    border: 1px solid #fff;
}
main .am3 .modal input.valid:focus,
main .am3 .modal textarea.valid:focus {
    border: 1px solid #ffd000;
}
main .am3 .modal input.error,
main .am3 .modal textarea.error {
    border: 1px solid rgba(255,0,0,0.6);
}
main .am3 .modal input.error:hover,
main .am3 .modal textarea.error:hover {
    border: 1px solid #f00;
}
main .am3 .modal input.error:focus,
main .am3 .modal textarea.error:focus {
    border: 1px solid #f00;
}
main .am3 .modal textarea {
    height: 9rem;
    padding: 1.5rem 2rem;
}
main .am3 .modal .inner-hr {
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}
main .am3 .modal .inner-hr hr {
    display: inline-block;
    width: 5rem;
    height: 0.2rem;
    background: #ffd000;
    border: none;
    margin: 4rem 0 3.5rem 0;
}
main .am3 .modal .order {
    display: block;
    width: 20rem;
    height: 5rem;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    background: #ffcf00;
    margin: 0 auto;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}
@media only screen and (max-width: 767px) {
    main .am3 .modal .order {
    width: 100%;
    margin: 0;
}
}
main .am3 .modal .order:hover {
    background: #fff;
}

.col-50 {width:50%}
.contacterror {color:red; padding-left:20px;}


.k4 ul li {    
    background: rgba(0, 0, 0, 0) url("tpl/images/list-icon.png") no-repeat scroll 0 5px;
    color: #666;
    float: left;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 1.2rem 0;
    padding-left: 2rem;
    position: relative;
    width: 100%;
    z-index: 2;
}

.prev-slide .header-nav-mobile {
    background: #ffca00 none repeat scroll 0 0;
}


.kr2 span {color:white}
.kr2 {padding-left: 0rem;}

main .cooperation .coop .number span {
    margin-top: 0.7rem;
}

input[type=text] {
    cursor: pointer;
}

.container2
{
    width: 1000px;
}

.col-qd-2
{
    width: 14%;
}

main #tab-2 hr {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    left: 12.4rem;
    min-height: 88%;
    position: absolute;
    top: 2.7rem;
    width: 0.2rem;
    z-index: 1;
}

main #tab-2 li {
    background: rgba(0, 0, 0, 0) url("tpl/images/list-icon.png") no-repeat scroll 0 5px;
    color: #666;
    float: left;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin: 1.2rem 0;
    padding-left: 2rem;
    position: relative;
    width: 100%;
    z-index: 2;
}


main .about-company .up1 {
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
    left:2rem;
}

main .about-company .up1 hr {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    left: 0.4rem;
    min-height: 80%;
    position: absolute;
    top: -1.23rem;
    width: 0.2rem;
    z-index: 1;
}

main .about-company .up1 li {
    background: rgba(0, 0, 0, 0) url("tpl/images/list-icon.png") no-repeat scroll 0 9px;
    color: #666;
    float: left;
    font-size: 1.8rem;
    line-height: 3rem;
    padding-left: 2rem;
    position: relative;
    width: 100%;
    z-index: 2;
}


main #tab-3 div {
    color: #666; 
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.5rem;    
}

@media (min-width:1150px) and (max-width:1300px) 
{
    header .bottom-header 
    {
    width:30%;
}

header .middle-header
{
    width:55%;
}

header .middle-header .header-nav ul
{
    margin-left: 2rem;
}

header .middle-header .header-nav ul   li
{
    margin-right: 2rem;
}
         
}  


header .top-header {
    width: 15%;
}
@media only screen and (max-width: 1130px) {
header .top-header {
    width: 20%;
}
}


/*main .card .catalog-slider .row 
{
    margin-left:7rem;
}

*/


main #tab-2 ul {
    margin-left: 10rem;
}

#time8_1, #time8_2 {
    
    width:5rem;
}

#time8_2 {
    padding-left:1rem;
}

.hours_call_select {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    left: 2.5rem;
    margin-top: -22rem;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    width: 40px;
}

.minutes_call_select {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    left: 9.9rem;
    margin-top: -9rem;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    width: 40px;
}

.hours_call_select span, .minutes_call_select span {
    color: black;
    font-size: 17px !important;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
}

.hours_call_select span:last-child, .minutes_call_select span:last-child {
    margin-bottom: 0;
}

.hours_call_select span:hover, .minutes_call_select span:hover {
    background: #ffcb00 none repeat scroll 0 0;
    color: white;
    cursor: pointer;
}

#time8_1{
    padding:0 1.5rem;
}





#time12_1, #time12_2 {
    
    width:5rem;
}

#time12_2 {
    padding-left:1rem;
}

.hours_call_select2 {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    left: 2.5rem;
    margin-top: -22rem;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    width: 40px;
}

.minutes_call_select2 {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
    left: 9.9rem;
    margin-top: -9rem;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    width: 40px;
}

.hours_call_select2 span, .minutes_call_select2 span {
    color: black;
    font-size: 17px !important;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
}

.hours_call_select2 span:last-child, .minutes_call_select2 span:last-child {
    margin-bottom: 0;
}

.hours_call_select2 span:hover, .minutes_call_select2 span:hover {
    background: #ffcb00 none repeat scroll 0 0;
    color: white;
    cursor: pointer;
}

#time12_1{
    padding:0 1.5rem;
}


@media only screen and (max-width:700px) {
    header .top-header .icon-logo {
    margin-top: 1.3rem;
}
}


@media only screen and (max-width:700px) 
{
    header .top-header {
    width:30%;  
}

main .discount .icon-status {
    display:none;
}
main .discount .icon-status2 {
    display:none;
}


main #tab-2 ul {
    margin-left: 2rem;
}

main .card .catalog-tabs .tabs-content .list-fundamments
{
   margin-left: 2rem; 
}

main .card .catalog-slider .col-qd-2 {
    width: 25%;
}

}

@media only screen and (max-width:500px) {
    header .top-header {
    width:50%;
}


}

 @media only screen and (max-width:330px) {

.prev-slide .block-options .block-storeys .row .col-md-2, .prev-slide .block-options .block-storeys .row .col-md-6 {
    padding: 0 0.2rem;
}

.prev-slide .block-options .block-price .block-input #range-from, .prev-slide .block-options .block-price .block-input #range-to {
    font-size: 1rem;
}
 }
 
 
 .pip {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
 }

 p.phone {cursor:pointer}
 
 .prev-slide .bottom-header .block-phone .phone span {
    font-size: 1.7rem;
}
