span.av1 {     color:#56a134; padding-left:24px; position:relative; margin-bottom:10px; font-size:15px;}
span.av2 { color:#f74d12; padding-left:24px; position:relative; margin-bottom:10px; font-size:15px;}
span.av3 { color:#777777; padding-left:24px; position:relative; margin-bottom:10px; font-size:15px;}
span.av1::before {
    background: rgba(0, 0, 0, 0) url("../img/av1.png") no-repeat;
    content: "";
    height: 16px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 16px;
}

span.av2::before {
    background: rgba(0, 0, 0, 0) url("../img/av2.png") no-repeat;
    content: "";
    height: 16px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 16px;
}

span.av3::before {
    background: rgba(0, 0, 0, 0) url("../img/av3.png") no-repeat;
    content: "";
    height: 16px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 16px;
}