<table  width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
  <tr> 
    <td style="border-bottom: 1px solid; border-color: #cccccc;"><div align="right"><img src="{$logo_path}logo.gif"></div></td>
  </tr>
  <tr> 
    <td><p><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><strong>Dear Customer ,</strong></font> <br>
        <br>
        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">You successful created your Customer Account, now you got following featues in our shop.</font><br> 
        <br>
        <font size="2"><b><font face="Verdana, Arial, Helvetica, sans-serif">-Customer shopping cart</font></b><font face="Verdana, Arial, Helvetica, sans-serif"> - Every item remains registered until you go to the cash box, or the products are deleted from the shopping cart.<br>
        <b>-Addressbook</b> - Now we can send the products to the postal address selected by you. The perfect way to get a birthday present.<br>
        <b>-Previous orders </b> - you can check  your previous orders at any time.<br>
        <b>-Opinions about products</b> - tell zour oppinion about our products to other customers</font></font></p>
      <br>
      <p>
		Login information:
      </p>
      <p>
		E-mail: {$EMAIL_ADDRESS}<br />
		Password: {$PASSWORD}<br />
      </p>
      <p>
        <font size="2" face="Verdana, Arial, Helvetica, sans-serif">If you have questions to our customer-service, contact us directly: 
        {$content.MAIL_REPLY_ADDRESS}
        . <br>
      Caution: This eMail-address was announced to us by a customer. If you did not announce yourself, please send an eMail to
      {$content.MAIL_REPLY_ADDRESS}
    . <br>
    <br>
    {if $SEND_GIFT==true}
      <br>
As part of our welcome to new customers, we have sent you an e-Gift Voucher worth: <b>{$GIFT_AMMOUNT}</b><br>
<br>
The redeem code for the e-Gift Voucher is <b>{$GIFT_CODE}</b>, you can enter the redeem code when checking out while making a purchase.<br>
<br>
 To use your e-Gift voucher, klick on Following link <a href="{$GIFT_LINK}">[redeem Voucher]</a>. {/if} {if $SEND_COUPON==true} Congratulations, to make your first visit to our online shop a more rewarding experience we are sending you an e-Discount Coupon.<br>
Below are details of the Discount Coupon created just for you<br>
<br>
Description: <b>{$COUPON_DESC}</b> <br>
<br>
To use the coupon enter the redeem code which is {$COUPON_CODE} during checkout while making a purchase {/if} </font></p></td>
  </tr>
  
{if $LINK}
<table  width="100%" border="0" align="center" cellpadding="4" cellspacing="0">
  <tr>
    <td><p><font size="2" face="Verdana, Arial, Helvetica, sans-serif"><b>Thank
        you for subscribing our newsletter. <br>
        Please you click on the activation link to activate this service. If you
        should <br>
        not have registered yourselves in newsletter and/or the receipt of the
        Newsletters <br>
        is not wanted, we wish you to do nothing. Your address is then deleted
        automatically <br>
        with the next actualization of the data base.
      <table width="100%"  border="0" bgcolor="f1f1f1">
    <tr>
          <td><b>Your activation-link:<br>
            </b>><a href="{$LINK}">{$LINK}</a>
      </td>
    </tr>
  </table></font></td>
  </tr>
</table>
{/if}
  
</table>
